<form layout="column" class="md-inline-form">


  <div>
      <h1>
        {{accessSetInformation.name}} Information
      </h1>
  </div>



  <form name="accessSet">
    <br>


      <div class="row">
        <div class="col-sm-4">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Name</label>
            <input ng-model="accessSetInformation.name" required name="username" ng-disabled="true">
            <div ng-messages="addUser.username.$error">
              <div ng-message="required">Name is required</div>
            </div>
          </md-input-container>
        </div>

        <div class="col-sm-4">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Report Space</label>
              <md-select ng-model="accessSetInformation.reportSpace" required name="reportSpace">
                <md-option ng-value="reportSpace" ng-repeat="reportSpace in accessSetInformation.reportSpacesLookup">{{reportSpace}}</md-option>
              </md-select>              
              <div ng-messages="accessSet.reportSpace.$error">
                <div ng-message="required">Report Space is required</div>
              </div>              
          </md-input-container>
        </div>

        <div class="col-sm-4">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Access Type</label>
              <md-select ng-model="accessSetInformation.accessType" required name="type">
                <md-option ng-value="accessType" ng-repeat="accessType in accessSetInformation.accessTypeLookup">{{accessType}}</md-option>
              </md-select>              
              <div ng-messages="accessSet.type.$error">
                <div ng-message="required">Type is required</div>
              </div>        
          </md-input-container>
        </div>
      </div>

      <div class="md-subhead">Access Criteria</div>
      <div class="row">
        <div class="col-sm-3">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Type</label>
            <!-- <input ng-model="accessSetInformation.tempType"  name="type"> -->
            <md-select ng-model="accessSetInformation.tempType" name="tempType">
              <md-option ng-value="criteriaType" ng-repeat="criteriaType in accessSetInformation.criteriaTypeLookup">{{criteriaType}}</md-option>
            </md-select>
            
          </md-input-container>
        </div>

        <div class="col-sm-3">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Name</label>
            <input ng-model="accessSetInformation.tempName"  name="name">
            <div ng-messages="accessSet.name.$error">
              <div ng-message="required">Name is required</div>
            </div>
          </md-input-container>
        </div>

        <div class="col-sm-3">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Value</label>
            <input ng-model="accessSetInformation.tempValue"  name="value">
            <div ng-messages="accessSet.value.$error">
              <div ng-message="required">Value is required</div>
            </div>
          </md-input-container>
        </div>

        <div class="col-sm-3">
          <md-button class="md-primary" style="z-index:0" position="fixed" aria-label="Profile" ng-click="accessSetInformation.addAccessSet()">
            <i class="material-icons toggleIcon">add</i> 
          </md-button>
        </div>
      </div>

      <div class="row" ng-repeat="accessCriteria in accessSetInformation.selectedAccessCriteria">
        
        <div class="col-sm-3">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Type</label>
            <input ng-model="accessCriteria.Type" ng-disabled="true">
          </md-input-container>
        </div>

        <div class="col-sm-3">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Name</label>
            <input ng-model="accessCriteria.Name" ng-disabled="true">
          </md-input-container>
        </div>

        <div class="col-sm-3">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Value</label>
            <input ng-model="accessCriteria.Value" ng-disabled="true">
          </md-input-container>
        </div>

        <div class="col-sm-3">
          <md-button class="md-warn" style="z-index:0" position="fixed" aria-label="Profile" ng-click="accessSetInformation.deleteAccessSet()">
            <i class="material-icons toggleIcon">remove</i> 
          </md-button>
        </div>

      </div>


  </form>

</div>


<md-dialog-actions layout="row">
    <span flex></span>
  <section layout="row" layout-sm="column"  layout-wrap>
    <md-button class="md-raised"  data-ui-sref="app.admin.accessSetManagement">
      Cancel 
    </md-button>

    <md-button ng-click="accessSetInformation.submit($event)" class="md-raised md-primary" data-ui-sref="app.admin.accessSetInformation({name: accessSetInformation.name})">
      Submit 
    </md-button>
  </section>
</md-dialog-actions>



</form>