<form>
	<div class="headerContainer">
		<span class="MenuSpan">
			<header></header>
			<span style="font-size: 30px; vertical-align: middle;">BOP Information</span>
		</span>
	</div>
	<div style="padding-top: 10px">
		<ui-view></ui-view>
	</div>

	<div>
		<md-button data-ui-sref="app.dashboard" style="float:right" class="md-raised" layout-align="center center">
			Cancel
		</md-button>

		<md-button class="md-raised styleButton" ng-click="report.saveForLater($event)" >
			Save Report
		</md-button>
	</div>
</form>

<div >
	
</div>
