
<div ng-if="!$ctrl.documentList.length==0">
  <p><strong>In accordance to the selected BoP category code we require following supporting documents:</strong></p>

  <br>

  <form name="formName" class=" form-horizontal">
    <!--<div ng-repeat="doc in $ctrl.documentList track by $index" class="form-group no-hover">-->
    <div flex="80" layout="row" layout-sm="column" layout-align="start center" layout-wrap ng-repeat="doc in $ctrl.documentList track by $index" class="form-group no-hover">
      <label class="col-sm-3 control-label" for="sample-file-input">{{doc.Type}}</label>
      <div class="col-sm-5 has-feedback" ng-class="doc.Uploaded ==true ? 'has-success' : ''">
        <div class="input-group input-group-fileselect">
          <input name="inputName" type="text" class="form-control" id="sample-file-input" placeholder="{{doc.FileName}}" readonly />
          <span ng-if="doc.Uploaded ==true" class="form-control-feedback icon-investec-tick"></span>
          <label class="input-group-btn">
              <span class="btn btn-primary">
                Upload 
                <input type="file" class="hidden" ngf-select ng-model="$ctrl.fileList[$index]" ng-change="$ctrl.uploadFile($ctrl.fileList[$index], doc.DocumentHandle)">
              </span>
          </label>
        </div>
      </div>
      <div class="col-sm-3 hidden-xs">
        <span>
          <md-tooltip
            md-direction="right">
              {{doc.Description}}
          </md-tooltip>
          <i class="material-icons md-36">help_outline</i>
        </span>
      </div>

    </div>
    </form>

</div>

<div ng-if="$ctrl.documentList.length==0">
  No documents required
</div>