<div>
    <div class="modal-header">
        <h3 class="modal-title">Applicant Declaration and Consent</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li>
                <p>I acknowledge that the information I have furnished to Investec is in all respects both true and correct.</p>
            </li>
            <li>
                <p>I acknowledge that the information captured has been checked by an authorised person.</p>
            </li>
            <li>
                <p>I accept the exchange rate at which my deal has been concluded is an Investec determined rate.</p>
            </li>
            <li>
                <p>Any documentation presented in support of this application is in all respects authentic.</p>
            </li>
            <li>
                <p>I have been informed of the limit applicable to the above transaction and confirm that this limit will not be exceeded as a result of the conclusion of this transaction.</p>
            </li>
            <li>
                <p>I understand that this information may be provided to the South African Revenue Service, the South African Reserve Bank and/or the Financial Intelligence Centre.</p>
            </li>
            <li>
              <p>The currency applied for will only be used for the specific purposes stated herein.</p>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <div class="form-actions-button-centre">
            <button class="btn btn-primary " ng-click="$ctrl.ok()">Close</button>
        </div>
    </div>

</div>
