<div>
    <div class="modal-header">
        <h3 class="modal-title">Foreign Exchange Terms and Conditions</h3>
    </div>
    <div class="modal-body">
        <ol>
          <li><strong>Definitions</strong></li>
          In these terms and conditions:
          <ol>
            <li>"Authorised Dealer" means a dealer in foreign exchange as authorised by the SARB;</li>
            <li>"Blocked Account" means an account to which regulatory restrictions have been applied;</li>
            <li>"Calendar year" means 01 January to 31 December of each year;</li>
            <li>"CMA" means Common Monetary Area (Namibia, Lesotho, Swaziland and South Africa);</li>
            <li>"FIA" means Foreign Investment Allowance; applicable per private individual who is a taxpayer of good standing and over the age of 18 years, for investment purposes abroad;</li>
            <li>"Foreign Exchange" means the exchange of one currency for another, or the conversion of one currency into another currency, but excludes the currencies of Lesotho, Namibia and Swaziland;</li>
            <li>"the SARB" means South African Reserve Bank; and</li>
            <li>"Authorised Dealer" means a dealer in foreign exchange as authorised by the SARB</li>
            <li>"SDA" means Single Discretionary Allowance.</li>
          </ol>

          <li><strong>SDA and FIA</strong></li>
          <ol>
            <li>A South African resident over the age of 18 years qualifies for a SDA of R1,000,000 and a FIA of R10,000,000 per individual per Calendar Year.</li>
            <li>The SDA may be utilised for the following purposes:</li>
            <ol>
              <li>donations to missionaries;</li>
              <li>maintenance;</li>
              <li>monetary gifts and loans;</li>
              <li>travel allowance;</li>
              <li>study allowance;</li>
              <li>alimony and child support;</li>
              <li>wedding expenses and expenses in respect of other special occasions;</li>
              <li>foreign capital allowance.</li>
            </ol>
            <li>The SDA may not be used to disguise transfers that would otherwise be declined by the Financial Surveillance Department of the SARB and it may only be utilised for the purpose(s) stated above.</li>
            <li>In terms of the Exchange Control Regulations, you are responsible for managing your FIA and SDA limits (as amended from time to time by the SARB) and must ensure that you do not exceed them, whether by dealing through Investec and/or through any other Authorised Dealer.</li>
            <li>As the SDA is provided to accommodate for foreign spend which includes, but is not limited to, your annual (as determined by a Calendar Year) foreign travel expenses, gifts, maintenance and offshore credit and/or debit cards spends, you must take these into consideration when managing the usage of your SDA.</li>
          </ol>    

          <li><strong>Travel Allowances</strong></li>
          <ol>
            <li>You may only use the Foreign Exchange bought for the purposes for which it has been made available.</li>
            <li>You may not apply for a similar facility with another Authorised Dealer.</li>
            <li>You may use your SDA for travel.</li>
            <li>Individuals younger than 18 years are allowed an amount of R200,000 per Calendar Year for holiday travel.</li>
            <li>You are not allowed a travel allowance if you are studying abroad.</li>
            <li>You acknowledge that the travel must commence within 60 days of the date of the request for Foreign Exchange from Investec.</li>
            <li>In the event of your travel arrangements being cancelled, all Foreign Exchange accorded by Investec must be refunded to Investec or any other Authorised Dealer within 30 days of such cancellation.</li>
            <li>Any unutilized/unspent Foreign Exchange purchased for travel related purposes must be repatriated to South Africa and sold to any Authorised Dealer within 30 days of your return to South Africa.</li>            
          </ol>

          <li><strong>Restrictions on Purchase</strong></li>
          <ol>
            <li>Foreign Exchange may only be bought by and for South African residents.</li>
            <li>Emigrants from South Africa who conduct Blocked Accounts are not allowed to use this service, due to the Exchange Control restrictions and need to approach a bank in the country they are emigrating to.</li>
          </ol>

          <li><strong>Gifts and Loans</strong></li>
          <ol>
            <li>The gift and loan portion of a SDA may only be sent to non-resident, non-South African or a South African who is temporarily abroad (but not travelling for business or holiday).</li>
          </ol>

          <li><strong>FIA</strong></li>
          <ol>
            <li>You will not enter into any transaction(s) abroad, whereby capital or any right to capital will be directly or indirectly exported from the Republic of South Africa in excess of your FIA.</li>
            <li>Your FIA includes entering into a foreign commitment, including providing a guarantee to an offshore party, where the offshore party would have recourse to funds within the Republic of South Africa.</li>
            <li>You may not, through another person or entity, re-invest/re-introduce any permissible funds held abroad by virtue of your FIA and/or SDA or otherwise, directly or indirectly back into the CMA for any purposes whatsoever.</li>
            <li>You may however re-invest/re-introduce funds to your own account in the Republic of South Africa.</li>
          </ol>

          <li><strong>Indemnities</strong></li>
          <ol>
            <li>You agree that you will not be able to make any claim against Investec on any basis whatsoever for any loss or expense of any kind that you may suffer as a result of Investec according you with Foreign Exchange as requested and you irrevocably waive any such claim.</li>
            <li>You agree to indemnify Investec for any losses or expenses (including, without limitation, legal costs on an attorney and own client scale) it may suffer as a result of the implementation of your request to be accorded with foreign exchange in the event that you have not provided complete and accurate information.</li>
            <li>You furthermore acknowledge and understand that Investec shall not be responsible for any failure by the SARB's Financial Surveillance Department to deal with or approve your application or for any delays in the process and you indemnify Investec accordingly.</li>
            <li>You confirm that the benefit (where service) and goods (where import) will be received in South Africa.</li>
          </ol>

        </ol>
    </div>
    <div class="modal-footer">
        <div class="form-actions-button-centre">
            <button class="btn btn-primary " ng-click="$ctrl.ok()">Close</button>
        </div>
    </div>

</div>
