<form >

  <!-- <p><strong>Please verify the details below are correct. If you need to edit any details click reject and you will be prompted to the previous screen and you will be required to repopulate the form.</strong></p> -->
  <!-- <hr> -->

  <p><strong>Account Information</strong></p>
  <ul style="list-style-type: none;">
    <li>
      <div class="row">
        <div class="col-sm-4" ng-if="$ctrl.bopData.Flow == 'OUT'">
          From account
        </div>
        <div class="col-sm-4" ng-if="$ctrl.bopData.Flow == 'IN'">
          To Account
        </div>
        <div class="col-sm-4">
          <strong>{{$ctrl.bopData["Resident"]["Individual"]["AccountNumber"]}}</strong>
        </div>
      </div>
    </li>
  </ul>
  <hr>

  <p ng-if="$ctrl.bopData.Flow == 'IN'"><strong>Remitter Information</strong></p>
  <p ng-if="$ctrl.bopData.Flow == 'OUT'"><strong>Beneficiary Information</strong></p>
  <ul style="list-style-type: none;">
    <li>
      <div class="row">
        <div class="col-sm-4">
          Name
        </div>
        <div class="col-sm-4">
          <strong>{{$ctrl.bopData["NonResident"]["Individual"]["Name"]}} {{$ctrl.bopData["NonResident"]["Individual"]["Surname"]}}</strong>
          <strong>{{$ctrl.bopData["NonResident"]["Entity"]["EntityName"]}}</strong>
        </div>
      </div>
    </li>
  </ul>
  <hr>

  <p ng-if="$ctrl.bopData.Flow == 'OUT'"><strong>Payment Information</strong></p>
  <p ng-if="$ctrl.bopData.Flow == 'IN'"><strong>Receipt Information</strong></p>
  <ul style="list-style-type: none;">
    <li>
      <div class="row">
        <div class="col-sm-4">
          Account Number
        </div>
        <div class="col-sm-4">
          <strong>{{$ctrl.bopData["NonResident"]["Individual"]["AccountNumber"]}}</strong>
          <strong>{{$ctrl.bopData["NonResident"]["Entity"]["AccountNumber"]}}</strong>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-sm-4">
          Amount
        </div>
        <div class="col-sm-4">
          <strong>{{$ctrl.bopData["TotalForeignValue"]}}</strong>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-sm-4">
          Currency
        </div>
        <div class="col-sm-4">
          <strong>{{$ctrl.bopData["FlowCurrency"]}}</strong>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-sm-4">
          Reason/BoP code
        </div>
        <div class="col-sm-4">
          <strong>{{$ctrl.reasons}}</strong>
        </div>
      </div>
    </li>

  </ul>

  <hr ng-if="$ctrl.documentNames.length>0"> 


  <p ng-if="$ctrl.documentNames.length>0"><strong>Required documents</strong></p>
  <ul style="list-style-type: none;" ng-if="$ctrl.documentNames.length>0">
    <li ng-repeat="docName in $ctrl.documentNames">
      <div class="row">
        <div class="col-sm-4">
          {{docName.type}}
        </div>
        <div class="col-sm-4">
          <strong>{{docName.name}}</strong>
        </div>
      </div>
    </li>
  </ul>

  
  <div class="pull-right" ng-click="$ctrl.toggleShowFullBopForm()">
    <md-button aria-label="Open menu" ng-click="$mdMenu.open($event)">
      Show More <i ng-if="$ctrl.showFullBopForm" class="material-icons toggleIcon">keyboard_arrow_up</i> <i ng-if="!$ctrl.showFullBopForm" class="material-icons toggleIcon">keyboard_arrow_down</i> 
    </md-button>
  </div>

  <br>
  <hr>

  <div ng-if="$ctrl.showFullBopForm">

    <!-- General -->
    <p><strong>General</strong></p>
    <ul style="list-style-type: none;">
      <li ng-if="$ctrl.bopData.TrnReference">
        <div class="row">
          <div class="col-sm-4">
            Transaction Reference
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.TrnReference}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.FlowCurrency">
        <div class="row">
          <div class="col-sm-4">
            Currency
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.FlowCurrency}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.TotalForeignValue">
        <div class="row">
          <div class="col-sm-4">
            Total Foreign Value
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.TotalForeignValue}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.ValueDate">
        <div class="row">
          <div class="col-sm-4">
            Value Date
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.ValueDate}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Flow">
        <div class="row">
          <div class="col-sm-4">
            Flow
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Flow}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.OriginatingBank">
        <div class="row">
          <div class="col-sm-4">
            Originating Bank
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.OriginatingBank}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.OriginatingCountry">
        <div class="row">
          <div class="col-sm-4">
            Originating Country
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.OriginatingCountry}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.ReceivingBank">
        <div class="row">
          <div class="col-sm-4">
            Receiving Bank
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.ReceivingBank}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.ReceivingCountry">
        <div class="row">
          <div class="col-sm-4">
            Receiving Country
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.ReceivingCountry}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.PaymentDetail.Charges">
        <div class="row">
          <div class="col-sm-4">
            Charges
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.PaymentDetail.Charges}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.PaymentDetail.SWIFTDetails">
        <div class="row">
          <div class="col-sm-4" ng-if="$ctrl.bopData.Flow == 'IN'">
            Nonresident Remitter reference
          </div>
          <div class="col-sm-4" ng-if="$ctrl.bopData.Flow == 'OUT'">
            Nonresident Beneficiary reference
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.PaymentDetail.SWIFTDetails}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.PaymentDetail.BeneficiaryBank.SWIFTBIC">
        <div class="row">
          <div class="col-sm-4">
            Beneficiary Bank SWIFTBIC
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.PaymentDetail.BeneficiaryBank.SWIFTBIC}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.PaymentDetail.BeneficiaryBank.BankName">
        <div class="row">
          <div class="col-sm-4">
            Beneficiary Bank Name
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.PaymentDetail.BeneficiaryBank.BankName}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.PaymentDetail.BeneficiaryBank.BranchCode">
        <div class="row">
          <div class="col-sm-4">
            Beneficiary Bank BranchCode
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.PaymentDetail.BeneficiaryBank.BranchCode}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.PaymentDetail.BeneficiaryBank.Address">
        <div class="row">
          <div class="col-sm-4">
            Beneficiary Bank Address
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.PaymentDetail.BeneficiaryBank.Address}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.PaymentDetail.BeneficiaryBank.City">
        <div class="row">
          <div class="col-sm-4">
            Beneficiary Bank City
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.PaymentDetail.BeneficiaryBank.City}}</strong>
          </div>
        </div>
      </li>
    </ul>
    <hr>

    <!-- Resident: Individual -->
    <p ng-if="$ctrl.bopData.Resident.Individual"><strong>Applicant: Individual</strong></p>
    <ul ng-if="$ctrl.bopData.Resident.Individual" style="list-style-type: none;">
      <li ng-if="$ctrl.bopData.Resident.Individual.Name">
        <div class="row">
          <div class="col-sm-4">
            Name
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Individual.Name}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Individual.Gender">
        <div class="row">
          <div class="col-sm-4">
            Gender
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Individual.Gender}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Individual.DateOfBirth">
        <div class="row">
          <div class="col-sm-4">
            Date Of Birth
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Individual.DateOfBirth}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Individual.IDNumber">
        <div class="row">
          <div class="col-sm-4">
            ID Number
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Individual.IDNumber}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Individual.TempResPermitNumber">
        <div class="row">
          <div class="col-sm-4">
            Temporary Resident Permit Number
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Individual.TempResPermitNumber}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Individual.TempResPermitNumber">
        <div class="row">
          <div class="col-sm-4">
            Temporary Resident Permit Number
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Individual.TempResPermitNumber}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Individual.ForeignIDNumber">
        <div class="row">
          <div class="col-sm-4">
            Foreign ID Number
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Individual.ForeignIDNumber}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Individual.ForeignIDCountry">
        <div class="row">
          <div class="col-sm-4">
            Foreign ID Country
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Individual.ForeignIDCountry}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Individual.PassportNumber">
        <div class="row">
          <div class="col-sm-4">
            Passport Number
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Individual.PassportNumber}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Individual.PassportCountry">
        <div class="row">
          <div class="col-sm-4">
            Passport Country
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Individual.PassportCountry}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Individual.CustomsClientNumber">
        <div class="row">
          <div class="col-sm-4">
            Customs Client Number
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Individual.CustomsClientNumber}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Individual.TaxNumber">
        <div class="row">
          <div class="col-sm-4">
            Tax Number
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Individual.TaxNumber}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Individual.VATNumber">
        <div class="row">
          <div class="col-sm-4">
            VAT Number
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Individual.VATNumber}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Individual.TaxClearanceCertificateIndicator">
        <div class="row">
          <div class="col-sm-4">
            Tax Clearance Certificate Indicator
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Individual.TaxClearanceCertificateIndicator}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Individual.TaxClearanceCertificateReference">
        <div class="row">
          <div class="col-sm-4">
            Tax Clearance Certificate Reference
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Individual.TaxClearanceCertificateReference}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Individual.TaxClearanceCertificateReference">
        <div class="row">
          <div class="col-sm-4">
            Tax Clearance Certificate Reference
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Individual.TaxClearanceCertificateReference}}</strong>
          </div>
        </div>
      </li>


      
      <li ng-if="$ctrl.bopData.Resident.Individual.StreetAddress">
        <div class="row">
          <div class="col-sm-4">
            Street Address
          </div>
        </div>
      </li>
      <ul style="list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0">
        <li ng-if="$ctrl.bopData.Resident.Individual.StreetAddress.AddressLine1">
          <div class="row">
            <div class="col-sm-4">
              Address Line 1
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Individual.StreetAddress.AddressLine1}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Individual.StreetAddress.AddressLine2">
          <div class="row">
            <div class="col-sm-4">
              Address Line 2
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Individual.StreetAddress.AddressLine2}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Individual.StreetAddress.Suburb">
          <div class="row">
            <div class="col-sm-4">
              Suburb
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Individual.StreetAddress.Suburb}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Individual.StreetAddress.City">
          <div class="row">
            <div class="col-sm-4">
              City
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Individual.StreetAddress.City}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Individual.StreetAddress.PostalCode">
          <div class="row">
            <div class="col-sm-4">
              Postal Code
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Individual.StreetAddress.PostalCode}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Individual.StreetAddress.Province">
          <div class="row">
            <div class="col-sm-4">
              Province
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Individual.StreetAddress.Province}}</strong>
            </div>
          </div>
        </li>
      </ul>



      <li ng-if="$ctrl.bopData.Resident.Individual.PostalAddress">
        <div class="row">
          <div class="col-sm-4">
            Postal Address
          </div>
        </div>
      </li>
      <ul style="list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0">
        <li ng-if="$ctrl.bopData.Resident.Individual.PostalAddress.AddressLine1">
          <div class="row">
            <div class="col-sm-4">
              Address Line 1
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Individual.PostalAddress.AddressLine1}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Individual.PostalAddress.AddressLine2">
          <div class="row">
            <div class="col-sm-4">
              Address Line 2
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Individual.PostalAddress.AddressLine2}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Individual.PostalAddress.Suburb">
          <div class="row">
            <div class="col-sm-4">
              Suburb
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Individual.PostalAddress.Suburb}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Individual.PostalAddress.PostalCode">
          <div class="row">
            <div class="col-sm-4">
              Postal Code
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Individual.PostalAddress.PostalCode}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Individual.PostalAddress.Province">
          <div class="row">
            <div class="col-sm-4">
              Province
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Individual.PostalAddress.Province}}</strong>
            </div>
          </div>
        </li>
      </ul>



      <li ng-if="$ctrl.bopData.Resident.Individual.ContactDetails">
        <div class="row">
          <div class="col-sm-4">
            Contact Details
          </div>
        </div>
      </li>
      <ul style="list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0">
        <li ng-if="$ctrl.bopData.Resident.Individual.ContactDetails.ContactName">
          <div class="row">
            <div class="col-sm-4">
              Name
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Individual.ContactDetails.ContactName}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Individual.ContactDetails.ContactSurname">
          <div class="row">
            <div class="col-sm-4">
              Surname
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Individual.ContactDetails.ContactSurname}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Individual.ContactDetails.Email">
          <div class="row">
            <div class="col-sm-4">
              Email
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Individual.ContactDetails.Email}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Individual.ContactDetails.Telephone">
          <div class="row">
            <div class="col-sm-4">
              Telephone
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Individual.ContactDetails.Telephone}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Individual.ContactDetails.Fax">
          <div class="row">
            <div class="col-sm-4">
              Fax
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Individual.ContactDetails.Fax}}</strong>
            </div>
          </div>
        </li>
      </ul>
    </ul>  
    <hr ng-if="$ctrl.bopData.Resident.Individual">  

    <!-- Resident: Entity -->
    <p ng-if="$ctrl.bopData.Resident.Entity"><strong>Applicant: Entity</strong></p>
    <ul ng-if="$ctrl.bopData.Resident.Entity" style="list-style-type: none;">
      <li ng-if="$ctrl.bopData.Resident.Entity.EntityName">
        <div class="row">
          <div class="col-sm-4">
            Entity Name
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Entity.EntityName}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Entity.TradingName">
        <div class="row">
          <div class="col-sm-4">
            Trading Name
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Entity.TradingName}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Entity.RegistrationNumber">
        <div class="row">
          <div class="col-sm-4">
            Registration Number
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Entity.RegistrationNumber}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Entity.InstitutionalSector">
        <div class="row">
          <div class="col-sm-4">
            Institutional Sector
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Entity.InstitutionalSector}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Entity.IndustrialClassification">
        <div class="row">
          <div class="col-sm-4">
            Industrial Classification
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Entity.IndustrialClassification}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Entity.CustomsClientNumber">
        <div class="row">
          <div class="col-sm-4">
            Customs Client Number
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Entity.CustomsClientNumber}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Entity.TaxNumber">
        <div class="row">
          <div class="col-sm-4">
            Tax Number
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Entity.TaxNumber}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Entity.VATNumber">
        <div class="row">
          <div class="col-sm-4">
            VAT Number
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Entity.VATNumber}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Entity.TaxClearanceCertificateIndicator">
        <div class="row">
          <div class="col-sm-4">
            Tax Clearance Certificate Indicator
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Entity.TaxClearanceCertificateIndicator}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Entity.TaxClearanceCertificateReference">
        <div class="row">
          <div class="col-sm-4">
            Tax Clearance Certificate Reference
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.Resident.Entity.TaxClearanceCertificateReference}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.Resident.Entity.StreetAddress">
        <div class="row">
          <div class="col-sm-4">
            Street Address
          </div>
        </div>
      </li>
      <ul style="list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0">
        <li ng-if="$ctrl.bopData.Resident.Entity.StreetAddress.AddressLine1">
          <div class="row">
            <div class="col-sm-4">
              Address Line 1
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Entity.StreetAddress.AddressLine1}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Entity.StreetAddress.AddressLine2">
          <div class="row">
            <div class="col-sm-4">
              Address Line 2
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Entity.StreetAddress.AddressLine2}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Entity.StreetAddress.Suburb">
          <div class="row">
            <div class="col-sm-4">
              Suburb
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Entity.StreetAddress.Suburb}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Entity.StreetAddress.City">
          <div class="row">
            <div class="col-sm-4">
              City
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Entity.StreetAddress.City}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Entity.StreetAddress.PostalCode">
          <div class="row">
            <div class="col-sm-4">
              Postal Code
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Entity.StreetAddress.PostalCode}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Entity.StreetAddress.Province">
          <div class="row">
            <div class="col-sm-4">
              Province
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Entity.StreetAddress.Province}}</strong>
            </div>
          </div>
        </li>
      </ul>
      <li ng-if="$ctrl.bopData.Resident.Entity.PostalAddress">
        <div class="row">
          <div class="col-sm-4">
            Postal Address
          </div>
        </div>
      </li>
      <ul ng-if="$ctrl.bopData.Resident.Entity.PostalAddress" style="list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0">
        <li ng-if="$ctrl.bopData.Resident.Entity.PostalAddress.AddressLine1">
          <div class="row">
            <div class="col-sm-4">
              AddressLine 1
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Entity.PostalAddress.AddressLine1}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Entity.PostalAddress.AddressLine2">
          <div class="row">
            <div class="col-sm-4">
              AddressLine 2
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Entity.PostalAddress.AddressLine2}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Entity.PostalAddress.Suburb">
          <div class="row">
            <div class="col-sm-4">
              Suburb
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Entity.PostalAddress.Suburb}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Entity.PostalAddress.City">
          <div class="row">
            <div class="col-sm-4">
              City
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Entity.PostalAddress.City}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Entity.PostalAddress.PostalCode">
          <div class="row">
            <div class="col-sm-4">
              Postal Code
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Entity.PostalAddress.PostalCode}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Entity.PostalAddress.Province">
          <div class="row">
            <div class="col-sm-4">
              Province
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Entity.PostalAddress.Province}}</strong>
            </div>
          </div>
        </li>



      </ul>



      <li ng-if="$ctrl.bopData.Resident.Entity.ContactDetails">
        <div class="row">
          <div class="col-sm-4">
            Contact Details
          </div>
        </div>
      </li>
      <ul ng-if="$ctrl.bopData.Resident.Entity.ContactDetails" style="list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0">
        <li ng-if="$ctrl.bopData.Resident.Entity.ContactDetails.ContactName">
          <div class="row">
            <div class="col-sm-4">
              Name
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Entity.ContactDetails.ContactName}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Entity.ContactDetails.ContactSurname">
          <div class="row">
            <div class="col-sm-4">
              Surname
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Entity.ContactDetails.ContactSurname}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Entity.ContactDetails.Email">
          <div class="row">
            <div class="col-sm-4">
              Email
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Entity.ContactDetails.Email}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Entity.ContactDetails.Telephone">
          <div class="row">
            <div class="col-sm-4">
              Telephone
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Entity.ContactDetails.Telephone}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.bopData.Resident.Entity.ContactDetails.Fax">
          <div class="row">
            <div class="col-sm-4">
              Fax
            </div>
            <div class="col-sm-4">
              <strong>{{$ctrl.bopData.Resident.Entity.ContactDetails.Fax}}</strong>
            </div>
          </div>
        </li>
      </ul>




    </ul>
    <hr ng-if="$ctrl.bopData.Resident.Entity">

    <!-- Non-Resident: Individual -->
    <p ng-if="$ctrl.bopData.NonResident.Individual && $ctrl.bopData.Flow == 'IN'"><strong>Remitter: Individual</strong></p>
    <p ng-if="$ctrl.bopData.NonResident.Individual && $ctrl.bopData.Flow == 'OUT'"><strong>Beneficiary: Individual</strong></p>
    <ul ng-if="$ctrl.bopData.NonResident.Individual" style="list-style-type: none;">
      <li ng-if="$ctrl.bopData.NonResident.Individual.Name">
        <div class="row">
          <div class="col-sm-4">
            Name
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.NonResident.Individual.Name}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.NonResident.Individual.Surname">
        <div class="row">
          <div class="col-sm-4">
            Surname
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.NonResident.Individual.Surname}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.NonResident.Individual.Gender">
        <div class="row">
          <div class="col-sm-4">
            Gender
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.NonResident.Individual.Gender}}</strong>
          </div>
        </div>
      </li>    
      <li ng-if="$ctrl.bopData.NonResident.Individual.PassportNumber">
        <div class="row">
          <div class="col-sm-4">
            Passport Number 
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.NonResident.Individual.PassportNumber}}</strong>
          </div>
        </div>
      </li>  
      <li ng-if="$ctrl.bopData.NonResident.Individual.PassportCountry">
        <div class="row">
          <div class="col-sm-4">
            Passport Country 
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.NonResident.Individual.PassportCountry}}</strong>
          </div>
        </div>
      </li>  
      <li ng-if="$ctrl.bopData.NonResident.Individual.PassportCountry">
        <div class="row">
          <div class="col-sm-4">
            Passport Country 
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.NonResident.Individual.PassportCountry}}</strong>
          </div>
        </div>
      </li>  
      <li ng-if="$ctrl.bopData.NonResident.Individual.AccountNumber">
        <div class="row">
          <div class="col-sm-4">
            Account Number
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.NonResident.Individual.AccountNumber}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.NonResident.Individual.Address">
        <div class="row">
          <div class="col-sm-4">
            Address
          </div>
        </div>
      </li>
        <ul ng-if="$ctrl.bopData.NonResident.Individual.Address" style="list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0">
            <li ng-if="$ctrl.bopData.NonResident.Individual.Address.AddressLine1">
              <div class="row">
                <div class="col-sm-4">
                  AddressLine 1
                </div>
                <div class="col-sm-4">
                  <strong>{{$ctrl.bopData.NonResident.Individual.Address.AddressLine1}}</strong>
                </div>
              </div>
            </li>
            <li ng-if="$ctrl.bopData.NonResident.Individual.Address.AddressLine2">
              <div class="row">
                <div class="col-sm-4">
                  AddressLine 2
                </div>
                <div class="col-sm-4">
                  <strong>{{$ctrl.bopData.NonResident.Individual.Address.AddressLine2}}</strong>
                </div>
              </div>
            </li>
            <li ng-if="$ctrl.bopData.NonResident.Individual.Address.Suburb">
              <div class="row">
                <div class="col-sm-4">
                  Suburb
                </div>
                <div class="col-sm-4">
                  <strong>{{$ctrl.bopData.NonResident.Individual.Address.Suburb}}</strong>
                </div>
              </div>
            </li>
            <li ng-if="$ctrl.bopData.NonResident.Individual.Address.City">
              <div class="row">
                <div class="col-sm-4">
                  City
                </div>
                <div class="col-sm-4">
                  <strong>{{$ctrl.bopData.NonResident.Individual.Address.City}}</strong>
                </div>
              </div>
            </li>
            <li ng-if="$ctrl.bopData.NonResident.Individual.Address.State">
              <div class="row">
                <div class="col-sm-4">
                  State
                </div>
                <div class="col-sm-4">
                  <strong>{{$ctrl.bopData.NonResident.Individual.Address.State}}</strong>
                </div>
              </div>
            </li>
            <li ng-if="$ctrl.bopData.NonResident.Individual.Address.PostalCode">
              <div class="row">
                <div class="col-sm-4">
                  Postal Code
                </div>
                <div class="col-sm-4">
                  <strong>{{$ctrl.bopData.NonResident.Individual.Address.PostalCode}}</strong>
                </div>
              </div>
            </li>
            <li ng-if="$ctrl.bopData.NonResident.Individual.Address.Country">
              <div class="row">
                <div class="col-sm-4">
                  Country
                </div>
                <div class="col-sm-4">
                  <strong>{{$ctrl.bopData.NonResident.Individual.Address.Country}}</strong>
                </div>
              </div>
            </li>
        </ul>
      </ul>
    </ul>
    <hr ng-if="$ctrl.bopData.NonResident.Individual">

    <!-- Non-Resident: Entity -->
    <p ng-if="$ctrl.bopData.NonResident.Entity && $ctrl.bopData.Flow == 'IN'"><strong>Remitter: Entity</strong></p>
    <p ng-if="$ctrl.bopData.NonResident.Entity && $ctrl.bopData.Flow == 'OUT'"><strong>Beneficiary: Entity</strong></p>
    <ul ng-if="$ctrl.bopData.NonResident.Entity" style="list-style-type: none;">
      <li ng-if="$ctrl.bopData.NonResident.Entity.EntityName">
        <div class="row">
          <div class="col-sm-4">
            Entity Name
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.NonResident.Entity.EntityName}}</strong>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.bopData.NonResident.Entity.Address">
        <div class="row">
          <div class="col-sm-4">
            Address
          </div>
        </div>
      </li>
        <ul ng-if="$ctrl.bopData.NonResident.Entity.Address" style="list-style-type: none;
          list-style-position:inside;
          margin:0;
          padding:0">
            <li ng-if="$ctrl.bopData.NonResident.Entity.Address.AddressLine1">
              <div class="row">
                <div class="col-sm-4">
                  AddressLine 1
                </div>
                <div class="col-sm-4">
                  <strong>{{$ctrl.bopData.NonResident.Entity.Address.AddressLine1}}</strong>
                </div>
              </div>
            </li>
            <li ng-if="$ctrl.bopData.NonResident.Entity.Address.AddressLine2">
              <div class="row">
                <div class="col-sm-4">
                  AddressLine 2
                </div>
                <div class="col-sm-4">
                  <strong>{{$ctrl.bopData.NonResident.Entity.Address.AddressLine2}}</strong>
                </div>
              </div>
            </li>
            <li ng-if="$ctrl.bopData.NonResident.Entity.Address.Suburb">
              <div class="row">
                <div class="col-sm-4">
                  Suburb
                </div>
                <div class="col-sm-4">
                  <strong>{{$ctrl.bopData.NonResident.Entity.Address.Suburb}}</strong>
                </div>
              </div>
            </li>
            <li ng-if="$ctrl.bopData.NonResident.Entity.Address.City">
              <div class="row">
                <div class="col-sm-4">
                  City
                </div>
                <div class="col-sm-4">
                  <strong>{{$ctrl.bopData.NonResident.Entity.Address.City}}</strong>
                </div>
              </div>
            </li>
            <li ng-if="$ctrl.bopData.NonResident.Entity.Address.State">
              <div class="row">
                <div class="col-sm-4">
                  State
                </div>
                <div class="col-sm-4">
                  <strong>{{$ctrl.bopData.NonResident.Entity.Address.State}}</strong>
                </div>
              </div>
            </li>
            <li ng-if="$ctrl.bopData.NonResident.Entity.Address.PostalCode">
              <div class="row">
                <div class="col-sm-4">
                  Postal Code
                </div>
                <div class="col-sm-4">
                  <strong>{{$ctrl.bopData.NonResident.Entity.Address.PostalCode}}</strong>
                </div>
              </div>
            </li>
            <li ng-if="$ctrl.bopData.NonResident.Entity.Address.Country">
              <div class="row">
                <div class="col-sm-4">
                  Country
                </div>
                <div class="col-sm-4">
                  <strong>{{$ctrl.bopData.NonResident.Entity.Address.Country}}</strong>
                </div>
              </div>
            </li>
        </ul>
    </ul>
    <hr ng-if="$ctrl.bopData.NonResident.Entity">


    <!-- Non-Resident: Exception -->
    <p ng-if="$ctrl.bopData.NonResident.Exception && $ctrl.bopData.Flow == 'IN'"><strong>Remitter: Exception</strong></p>
    <p ng-if="$ctrl.bopData.NonResident.Exception && $ctrl.bopData.Flow == 'OUT'"><strong>Beneficiary: Exception</strong></p>
    <ul ng-if="$ctrl.bopData.NonResident.Exception" style="list-style-type: none">
      <li ng-if="$ctrl.bopData.NonResident.Exception.ExceptionName">
        <div class="row">
          <div class="col-sm-4">
            Entity Name
          </div>
          <div class="col-sm-4">
            <strong>{{$ctrl.bopData.NonResident.Exception.ExceptionName}}</strong>
          </div>
        </div>
      </li>
    </ul>
    <hr ng-if="$ctrl.bopData.NonResident.Exception">

    <!-- Monetary Amounts -->
    <div ng-repeat="amount in $ctrl.bopData.MonetaryAmount track by $index" >
      <p><strong>Monetary Amount {{$index + 1}}</strong></p>
      <ul style="list-style-type: none;">
        <li ng-if="amount.RandValue">
          <div class="row">
            <div class="col-sm-4">
              Rand Value
            </div>
            <div class="col-sm-4">
              <strong>{{amount.RandValue}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.ForeignValue">
          <div class="row">
            <div class="col-sm-4">
              Foreign Value
            </div>
            <div class="col-sm-4">
              <strong>{{amount.ForeignValue}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.SARBAuth.IsSARBAuth">
          <div class="row">
            <div class="col-sm-4">
              Is SARB Authorized
            </div>
            <div class="col-sm-4">
              <strong>{{amount.SARBAuth.IsSARBAuth}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.SARBAuth.CategoryCode">
          <div class="row">
            <div class="col-sm-4">
              Category Code
            </div>
            <div class="col-sm-4">
              <strong>{{amount.SARBAuth.CategoryCode}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.SARBAuth.CategorySubCode">
          <div class="row">
            <div class="col-sm-4">
              Category Sub Code
            </div>
            <div class="col-sm-4">
              <strong>{{amount.SARBAuth.CategorySubCode}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.SARBAuth.SWIFTDetails">
          <div class="row">
            <div class="col-sm-4">
              SWIFT Details
            </div>
            <div class="col-sm-4">
              SWIFT Details
            </div>
            <div class="col-sm-4">
              <strong>{{amount.SARBAuth.SWIFTDetails}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.SARBAuth.StrateRefNumber">
          <div class="row">
            <div class="col-sm-4">
              Strate Reference Number
            </div>
            <div class="col-sm-4">
              <strong>{{amount.SARBAuth.StrateRefNumber}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.SARBAuth.RulingsSection">
          <div class="row">
            <div class="col-sm-4">
              Ruling Section
            </div>
            <div class="col-sm-4">
              <strong>{{amount.SARBAuth.RulingsSection}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.SARBAuth.ADInternalAuthNumber">
          <div class="row">
            <div class="col-sm-4">
              AD Internal Authorization Number
            </div>
            <div class="col-sm-4">
              <strong>{{amount.SARBAuth.ADInternalAuthNumber}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.SARBAuth.ADInternalAuthNumberDate">
          <div class="row">
            <div class="col-sm-4">
              AD Internal Authorization Number Date
            </div>
            <div class="col-sm-4">
              <strong>{{amount.SARBAuth.ADInternalAuthNumberDate}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.SARBAuth.SARBAuthAppNumber">
          <div class="row">
            <div class="col-sm-4">
              SARB Auth App Number
            </div>
            <div class="col-sm-4">
              <strong>{{amount.SARBAuth.SARBAuthAppNumber}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.SARBAuth.SARBAuthRefNumber">
          <div class="row">
            <div class="col-sm-4">
              SARB Auth Reference Number
            </div>
            <div class="col-sm-4">
              <strong>{{amount.SARBAuth.SARBAuthRefNumber}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.SARBAuth.SARBAuthDate">
          <div class="row">
            <div class="col-sm-4">
              SARB Auth Date
            </div>
            <div class="col-sm-4">
              <strong>{{amount.SARBAuth.SARBAuthDate}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.CannotCategorize">
          <div class="row">
            <div class="col-sm-4">
              Cannot Categorize
            </div>
            <div class="col-sm-4">
              <strong>{{amount.CannotCategorize}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.AdHocRequirement.Subject">
          <div class="row">
            <div class="col-sm-4">
              Subject
            </div>
            <div class="col-sm-4">
              <strong>{{amount.AdHocRequirement.Subject}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.AdHocRequirement.Description">
          <div class="row">
            <div class="col-sm-4">
              Description
            </div>
            <div class="col-sm-4">
              <strong>{{amount.AdHocRequirement.Description}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.LocationCountry">
          <div class="row">
            <div class="col-sm-4">
              Location Country
            </div>
            <div class="col-sm-4">
              <strong>{{amount.LocationCountry}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.Travel.Surname">
          <div class="row">
            <div class="col-sm-4">
              Travel Surname
            </div>
            <div class="col-sm-4">
              <strong>{{amount.Travel.Surname}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.Travel.Name">
          <div class="row">
            <div class="col-sm-4">
              Travel Name
            </div>
            <div class="col-sm-4">
              <strong>{{amount.Travel.Name}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.Travel.IDNumber">
          <div class="row">
            <div class="col-sm-4">
              ID Number
            </div>
            <div class="col-sm-4">
              <strong>{{amount.Travel.IDNumber}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.Travel.DateOfBirth">
          <div class="row">
            <div class="col-sm-4">
              Date Of Birth
            </div>
            <div class="col-sm-4">
              <strong>{{amount.Travel.DateOfBirth}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.Travel.TempResPermitNumber">
          <div class="row">
            <div class="col-sm-4">
              Temp Res Permit Number
            </div>
            <div class="col-sm-4">
              <strong>{{amount.Travel.TempResPermitNumber}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.LoanTenor">
          <div class="row">
            <div class="col-sm-4">
              Loan Tenor
            </div>
            <div class="col-sm-4">
              <strong>{{amount.LoanTenor}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.LoanInterestRate">
          <div class="row">
            <div class="col-sm-4">
              Loan Interest Rate
            </div>
            <div class="col-sm-4">
              <strong>{{amount.LoanInterestRate}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.LoanTenorMaturityDate">
          <div class="row">
            <div class="col-sm-4">
              Loan Tenor Maturity Date
            </div>
            <div class="col-sm-4">
              <strong>{{amount.LoanTenorMaturityDate}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.LoanInterest.InterestType">
          <div class="row">
            <div class="col-sm-4">
              Interest Type
            </div>
            <div class="col-sm-4">
              <strong>{{amount.LoanInterest.InterestType}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.LoanInterest.BaseRate">
          <div class="row">
            <div class="col-sm-4">
              Base Rate
            </div>
            <div class="col-sm-4">
              <strong>{{amount.LoanInterest.BaseRate}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.LoanInterest.Term">
          <div class="row">
            <div class="col-sm-4">
              Term
            </div>
            <div class="col-sm-4">
              <strong>{{amount.LoanInterest.Term}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.LoanInterest.PlusMinus">
          <div class="row">
            <div class="col-sm-4">
              Plus Minus
            </div>
            <div class="col-sm-4">
              <strong>{{amount.LoanInterest.PlusMinus}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.LoanInterest.Rate">
          <div class="row">
            <div class="col-sm-4">
              Rate
            </div>
            <div class="col-sm-4">
              <strong>{{amount.LoanInterest.Rate}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.LoanTenorType">
          <div class="row">
            <div class="col-sm-4">
              Loan Tenor Type
            </div>
            <div class="col-sm-4">
              <strong>{{amount.LoanTenorType}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.SARBAuth.AuthIssuer">
          <div class="row">
            <div class="col-sm-4">
              Auth is user
            </div>
            <div class="col-sm-4">
              <strong>{{amount.SARBAuth.AuthIssuer}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.ThirdParties">
          <div class="row">
            <div class="col-sm-4">
              Third Parties
            </div>
            <div class="col-sm-4">
              <strong>{{amount.ThirdParties}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.ThirdPartyKind">
          <div class="row">
            <div class="col-sm-4">
              Third Party Kind
            </div>
            <div class="col-sm-4">
              <strong>{{amount.ThirdPartyKind}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="amount.CustomsClientNumber">
          <div class="row">
            <div class="col-sm-4">
              Customs Client Number
            </div>
            <div class="col-sm-4">
              <strong>{{amount.CustomsClientNumber}}</strong>
            </div>
          </div>
        </li>    
        <li ng-if="amount.LoanRefNumber">
          <div class="row">
            <div class="col-sm-4">
              Loan Ref Number
            </div>
            <div class="col-sm-4">
              <strong>{{amount.LoanRefNumber}}</strong>
            </div>
          </div>
        </li>   
        <li ng-if="amount.LoanRefNumberResponseCode">
          <div class="row">
            <div class="col-sm-4">
              Loan Ref Number Response Code
            </div>
            <div class="col-sm-4">
              <strong>{{amount.LoanRefNumberResponseCode}}</strong>
            </div>
          </div>
        </li>   
        <li ng-if="amount.TravelMode.Mode">
          <div class="row">
            <div class="col-sm-4">
              Mode
            </div>
            <div class="col-sm-4">
              <strong>{{amount.TravelMode.Mode}}</strong>
            </div>
          </div>
        </li>   
        <li ng-if="amount.TravelMode.BorderPost">
          <div class="row">
            <div class="col-sm-4">
              Border Post
            </div>
            <div class="col-sm-4">
              <strong>{{amount.TravelMode.BorderPost}}</strong>
            </div>
          </div>
        </li> 
        <li ng-if="amount.TravelMode.TicketNumber">
          <div class="row">
            <div class="col-sm-4">
              Ticket Number
            </div>
            <div class="col-sm-4">
              <strong>{{amount.TravelMode.TicketNumber}}</strong>
            </div>
          </div>
        </li> 
        <li ng-if="amount.TravelMode.DepartureDate">
          <div class="row">
            <div class="col-sm-4">
              Departure Date
            </div>
            <div class="col-sm-4">
              <strong>{{amount.TravelMode.DepartureDate}}</strong>
            </div>
          </div>
        </li> 
        <li ng-if="amount.TravelMode.DestinationCountry">
          <div class="row">
            <div class="col-sm-4">
              Destination Country
            </div>
            <div class="col-sm-4">
              <strong>{{amount.TravelMode.DestinationCountry}}</strong>
            </div>
          </div>
        </li> 
        <li ng-if="amount.TravelMode.TaxClearanceCertificateIndicator">
          <div class="row">
            <div class="col-sm-4">
              Tax Clearance Certificate Indicator
            </div>
            <div class="col-sm-4">
              <strong>{{amount.TravelMode.TaxClearanceCertificateIndicator}}</strong>
            </div>
          </div>
        </li> 
        <li ng-if="amount.ThirdParty.Entity">
          <div class="row">
            <div class="col-sm-4">
              Third Party: Entity
            </div>
          </div>
        </li>
        <ul style="list-style-type: none;
          list-style-position:inside;
          margin:0;
          padding:0">        
          <li ng-if="amount.ThirdParty.Entity.Name">
            <div class="row">
              <div class="col-sm-4">
                Name
              </div>
              <div class="col-sm-4">
                <strong>{{amount.ThirdParty.Entity.Name}}</strong>
              </div>
            </div>
          </li>
          <li ng-if="amount.ThirdParty.Entity.RegistrationNumber">
            <div class="row">
              <div class="col-sm-4">
                Registration Number
              </div>
              <div class="col-sm-4">
                <strong>{{amount.ThirdParty.Entity.RegistrationNumber}}</strong>
              </div>
            </div>
          </li>
          <li ng-if="amount.ThirdParty.Entity.ContactDetails">
            <div class="row">
              <div class="col-sm-4">
                Contact Details
              </div>
            </div>
          </li>
          <ul style="list-style-type: none;">        
            <li ng-if="amount.ThirdParty.Entity.ContactDetails.ContactSurname">
              <div class="row">
                <div class="col-sm-4">
                  Contact Surname
                </div>
                <div class="col-sm-4">
                  <strong>{{amount.ThirdParty.Entity.ContactDetails.ContactSurname}}</strong>
                </div>
              </div>
            </li>
            <li ng-if="amount.ThirdParty.Entity.ContactDetails.ContactName">
              <div class="row">
                <div class="col-sm-4">
                  Contact Name
                </div>
                <div class="col-sm-4">
                  <strong>{{amount.ThirdParty.Entity.ContactDetails.ContactName}}</strong>
                </div>
              </div>
            </li>
            <li ng-if="amount.ThirdParty.Entity.ContactDetails.Email">
              <div class="row">
                <div class="col-sm-4">
                  Email
                </div>
                <div class="col-sm-4">
                  <strong>{{amount.ThirdParty.Entity.ContactDetails.Email}}</strong>
                </div>
              </div>
            </li>
            <li ng-if="amount.ThirdParty.Entity.ContactDetails.Fax">
              <div class="row">
                <div class="col-sm-4">
                  Fax
                </div>
                <div class="col-sm-4">
                  <strong>{{amount.ThirdParty.Entity.ContactDetails.Fax}}</strong>
                </div>
              </div>
            </li>
            <li ng-if="amount.ThirdParty.Entity.ContactDetails.Telephone">
              <div class="row">
                <div class="col-sm-4">
                  Telephone
                </div>
                <div class="col-sm-4">
                  <strong>{{amount.ThirdParty.Entity.ContactDetails.Telephone}}</strong>
                </div>
              </div>
            </li>
          </ul>


          <li ng-if="amount.ThirdParty.Entity.StreetAddress">
            <div class="row">
              <div class="col-sm-4">
                Street Address
              </div>
            </div>
          </li>
          <ul style="list-style-type: none;">  
            <li ng-if="amount.ThirdParty.Entity.StreetAddress.AddressLine1">
              <div class="row">
                <div class="col-sm-4">
                  AddressLine 1
                </div>
                <div class="col-sm-4">
                  <strong>{{amount.ThirdParty.Entity.StreetAddress.AddressLine1}}</strong>
                </div>
              </div>
            </li>     
            <li ng-if="amount.ThirdParty.Entity.StreetAddress.AddressLine2">
              <div class="row">
                <div class="col-sm-4">
                  AddressLine 2
                </div>
                <div class="col-sm-4">
                  <strong>{{amount.ThirdParty.Entity.StreetAddress.AddressLine2}}</strong>
                </div>
              </div>
            </li> 
            <li ng-if="amount.ThirdParty.Entity.StreetAddress.Suburb">
              <div class="row">
                <div class="col-sm-4">
                  Suburb
                </div>
                <div class="col-sm-4">
                  <strong>{{amount.ThirdParty.Entity.StreetAddress.Suburb}}</strong>
                </div>
              </div>
            </li> 
            <li ng-if="amount.ThirdParty.Entity.StreetAddress.City">
              <div class="row">
                <div class="col-sm-4">
                  City
                </div>
                <div class="col-sm-4">
                  <strong>{{amount.ThirdParty.Entity.StreetAddress.City}}</strong>
                </div>
              </div>
            </li> 
            <li ng-if="amount.ThirdParty.Entity.StreetAddress.Province">
              <div class="row">
                <div class="col-sm-4">
                  Province
                </div>
                <div class="col-sm-4">
                  <strong>{{amount.ThirdParty.Entity.StreetAddress.Province}}</strong>
                </div>
              </div>
            </li> 
            <li ng-if="amount.ThirdParty.Entity.StreetAddress.PostalCode">
              <div class="row">
                <div class="col-sm-4">
                  Postal Code
                </div>
                <div class="col-sm-4">
                  <strong>{{amount.ThirdParty.Entity.StreetAddress.PostalCode}}</strong>
                </div>
              </div>
            </li> 
            <li ng-if="amount.ThirdParty.Entity.StreetAddress.PostalCode">
              <div class="row">
                <div class="col-sm-4">
                  Postal Code
                </div>
                <div class="col-sm-4">
                  <strong>{{amount.ThirdParty.Entity.StreetAddress.PostalCode}}</strong>
                </div>
              </div>
            </li> 
          </ul>


          <li ng-if="amount.ThirdParty.Entity.PostalAddress">
            <div class="row">
              <div class="col-sm-4">
                Postal Address
              </div>
            </div>
          </li>
          <ul style="list-style-type: none;">  
            <li ng-if="amount.ThirdParty.Entity.PostalAddress.AddressLine1">
              <div class="row">
                <div class="col-sm-4">
                  AddressLine 1
                </div>
                <div class="col-sm-4">
                  <strong>{{amount.ThirdParty.Entity.PostalAddress.AddressLine1}}</strong>
                </div>
              </div>
            </li>   
            <li ng-if="amount.ThirdParty.Entity.PostalAddress.AddressLine2">
              <div class="row">
                <div class="col-sm-4">
                  AddressLine 2
                </div>
                <div class="col-sm-4">
                  <strong>{{amount.ThirdParty.Entity.PostalAddress.AddressLine2}}</strong>
                </div>
              </div>
            </li>  
            <li ng-if="amount.ThirdParty.Entity.PostalAddress.Suburb">
              <div class="row">
                <div class="col-sm-4">
                  Suburb
                </div>
                <div class="col-sm-4">
                  <strong>{{amount.ThirdParty.Entity.PostalAddress.Suburb}}</strong>
                </div>
              </div>
            </li>   
            <li ng-if="amount.ThirdParty.Entity.PostalAddress.City">
              <div class="row">
                <div class="col-sm-4">
                  City
                </div>
                <div class="col-sm-4">
                  <strong>{{amount.ThirdParty.Entity.PostalAddress.City}}</strong>
                </div>
              </div>
            </li>  
            <li ng-if="amount.ThirdParty.Entity.PostalAddress.Province">
              <div class="row">
                <div class="col-sm-4">
                  Province
                </div>
                <div class="col-sm-4">
                  <strong>{{amount.ThirdParty.Entity.PostalAddress.Province}}</strong>
                </div>
              </div>
            </li>  
            <li ng-if="amount.ThirdParty.Entity.PostalAddress.PostalCode">
              <div class="row">
                <div class="col-sm-4">
                  Postal Code
                </div>
                <div class="col-sm-4">
                  <strong>{{amount.ThirdParty.Entity.PostalAddress.PostalCode}}</strong>
                </div>
              </div>
            </li>  
          </ul>
        </ul>

          <li ng-if="amount.ImportExport">
            <div class="row">
              <div class="col-sm-4">
                Import/Export
              </div>
            </div>
          </li>
          <div ng-if="amount.ImportExport" ng-repeat="imex in amount.ImportExport">
            <ul style="list-style-type: none;
              list-style-position:inside;
              margin:0;
              padding:0">  
              <li ng-if="imex.ImportControlNumber">
                <div class="row">
                  <div class="col-sm-4">
                    Import Control Number
                  </div>
                  <div class="col-sm-4">
                    <strong>{{imex.ImportControlNumber}}</strong>
                  </div>
                </div>
              </li>   
              <li ng-if="imex.TransportDocumentNumber">
                <div class="row">
                  <div class="col-sm-4">
                    Transport Document Number
                  </div>
                  <div class="col-sm-4">
                    <strong>{{imex.TransportDocumentNumber}}</strong>
                  </div>
                </div>
              </li> 
              <li ng-if="imex.UCR">
                <div class="row">
                  <div class="col-sm-4">
                    UCR
                  </div>
                  <div class="col-sm-4">
                    <strong>{{imex.UCR}}</strong>
                  </div>
                </div>
              </li> 
              <li ng-if="imex.PaymentCurrencyCode">
                <div class="row">
                  <div class="col-sm-4">
                    Payment Currency Code
                  </div>
                  <div class="col-sm-4">
                    <strong>{{imex.PaymentCurrencyCode}}</strong>
                  </div>
                </div>
              </li> 
              <li ng-if="imex.PaymentValue">
                <div class="row">
                  <div class="col-sm-4">
                    Payment Value
                  </div>
                  <div class="col-sm-4">
                    <strong>{{imex.PaymentValue}}</strong>
                  </div>
                </div>
              </li> 
            </ul>
            <br>
          </div>

      </ul>
    </div>
    


  </div>

  <!--<br>

  <hr style="margin-top: 0px; margin-bottom: 0px">
  <div class="form-group no-hover">
    <div class="col-sm-12">
      <input class="no-hover" type="checkbox" id="checkbox-1" name="checkbox-set" ng-model="$ctrl.checkDocumentCheckBox" ng-change="$ctrl.setConfirmed($ctrl.checkDocumentCheckBox)" />
      <div class="btn-group" role="group" style="background: #f7f7f9; width: 100%; padding-left: 5px">
        <label class="btn btn-default no-hover" for="checkbox-1">
          <span class="icon-investec-tick no-hover"></span>
            I confirm that I have read and agreed to the Foreign Exchange <a ng-click="$ctrl.openTandC()">Terms and Conditions</a> and <a ng-click="$ctrl.open()">Applicant Declaration and Consent</a>
        </label>
      </div>
    </div>
  </div>
  <hr style="margin-top: 0px; margin-bottom: 0px">
  
  <br>

  <hr ng-if="$ctrl.code1xx==true" style="margin-top: 0px; margin-bottom: 0px">
  <div ng-if="$ctrl.code1xx==true" class="form-group no-hover">
    <div class="col-sm-12">
      <input class="no-hover" type="checkbox" id="checkbox-2" name="checkbox-set" ng-model="$ctrl.checkImpExp" ng-change="$ctrl.setConfirmedImpExp($ctrl.checkImpExp)" />
      <div class="btn-group" role="group" style="background: #f7f7f9; width: 100%; padding-left: 5px">
        <label class="btn btn-default no-hover" for="checkbox-2">
          <span class="icon-investec-tick no-hover"></span>
          By selecting this category, as the importer, you acknowledge that, if applicable, a covering import permit issued by ITAC, is held by yourselves prior to processing any import related and/or hedging transaction.  The import permit will be available  should we request a copy thereof.
        </label>
      </div>
    </div>
  </div>
  <hr ng-if="$ctrl.code1xx==true" style="margin-top: 0px; margin-bottom: 0px">-->


</form>
