<div class="error-container">
  <div class="row">
    <h2>Oops! Something went wrong.</h2>
    <p></p>
    <div class=errorBtnContainer>
      <div ng-if="error.isAuthorised">
        <button class="btn btn-primary" ng-click="error.backToApp()">
          Back to your Dashboard
        </button>
      </div>
      <div ng-if=!error.isAuthorised>
        <button class="btn btn-primary" ng-click="error.backToApp()">
          Back to Login page
        </button>
      </div>
    </div>
  </div>
</div>

