<md-dialog ng-cloak style="width:50%;">
  <form name="addUser">
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="md-headline">Add User</div>
        <br>
        <br>

        <div class="md-subhead">Auth</div>
        <div class="row">
          <div class="col-sm-6">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Username</label>
              <input ng-model="dialog.userName" required name="username">
              <div ng-messages="addUser.username.$error">
                <div ng-message="required">Username is required</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Password</label>
              <input ng-model="dialog.password" required name="password">
              <div ng-messages="addUser.password.$error">
                <div ng-message="required">password is required</div>
              </div>
              <div ng-if="!dialog.passwordIsValid" style="color:red">
                {{dialog.passwordErrorMessage}}
              </div>
            </md-input-container>
          </div>
        </div>

        <md-input-container>
          <label>Rights</label>
          <md-select ng-model="dialog.selectedRights" multiple required name="rights">
            <md-option ng-value="right" ng-repeat="right in dialog.RightsLookup">{{right}}</md-option>
          </md-select>
          <div ng-messages="addUser.rights.$error">
            <div ng-message="required">Auth Rights are required</div>
          </div>
        </md-input-container>

        <div class="md-subhead">Channels</div>
        <div class="row">
          <div class="col-sm-12">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Report Space</label>
              <md-select style="width:90%" ng-model="dialog.selectedReportSpaceList" multiple required ng-change="dialog.updateList()" name="reportspace">
                <md-option ng-value="reportSpace" ng-repeat="reportSpace in dialog.reportSpaceList">{{reportSpace}}</md-option>
              </md-select>
              <div ng-messages="addUser.reportspace.$error">
                <div ng-message="required">Report Space is required</div>
              </div>
            </md-input-container>
          </div>

          <div class="col-sm-12">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Channel Name</label>
              <md-select style="width:90%" ng-model="dialog.selectedChannelNameList" required multiple ng-change="dialog.updateList()" name="channel">
                <md-option ng-value="channel" ng-repeat="channel in dialog.channelNameList">{{channel}}</md-option>
              </md-select>
              <div ng-if="!dialog.channelIsValid" style="color:red">
                *Please Select At Least One Channel For Each Report Space
              </div>
              <div ng-messages="addUser.channel.$error">
                <div ng-message="required">Channel is required</div>
              </div>
            </md-input-container>
          </div>
          <div class="col-sm-12">
            <md-input-container>
              <label>Access</label>
              <md-select ng-model="dialog.selectedAccess" multiple required ng-change="dialog.updateList()" name="access">
                <md-option ng-value="access" ng-repeat="access in dialog.AccessLookup">{{access}}</md-option>
              </md-select>
              <div ng-if="!dialog.accessIsValid" style="color:red">
                *Please Select At Least One Access For Each Report Space
              </div>
              <div ng-messages="addUser.access.$error">
                <div ng-message="required">Access are required</div>
              </div>
            </md-input-container>
          </div>
	      </div>


        <div class="md-subhead">Report Lists</div>
        <div class="row">
          <div class="col-sm-6">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Report Lists</label>
              <md-select ng-model="dialog.selectedReportLists" multiple required name="reportlist">
                <md-option ng-value="reportList" ng-repeat="reportList in dialog.ReportListLookup">{{reportList}}</md-option>
              </md-select>
              <div ng-messages="addUser.reportlist.$error">
                <div ng-message="required">Report List is required</div>
              </div>
            </md-input-container>
          </div>
        </div>


        <div class="md-subhead">User Events</div>
        <div class="row">
          <div class="col-sm-6">
            <md-input-container class="md-block" flex-gt-sm>
              <label>User Events</label>
              <md-select ng-model="dialog.selectedUserEvents" multiple required name="userevents">
                <md-option ng-value="userEvents" ng-repeat="userEvents in dialog.UserEventsLookup">{{userEvents}}</md-option>
              </md-select>
              <div ng-messages="addUser.userevents.$error">
                <div ng-message="required">User Events is required</div>
              </div>
            </md-input-container>
          </div>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <!--<span flex></span>-->
      <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
        <md-button class="md-raised " layout-align="start center" ng-click="dialog.cancel()">
          Cancel <i class="zmdi zmdi-close"></i>
        </md-button>
        <md-button ng-click="dialog.add($event)" style="color: white !important" class="md-raised md-primary" ng-disabled="addUser.$invalid">
          Add <i class="zmdi zmdi-plus">
          </i>
        </md-button>
      </section>
    </md-dialog-actions>
  </form>
</md-dialog>
