<div class="userHeaderContainer">
	<span class="userMenuSpan">
		<header></header>
		<span style="font-size: 30px; vertical-align: middle;">User Management</span>
	</span>

	<span>
		<md-icon>search</md-icon>
		<input id="txtUserSearch" name="userSearch" ng-model="userManagement.searchText" type="text" placeholder="Search User" class="UserinputSearch"/>
		<button class="searchButton" ng-click="userManagement.searchUser()">Search</button>
	</span>

</div>
<div class="OuterMostContainer">
	<div class="col-sm-4">
		<div class="addUserDiv">
			<button class="MainButtonStyle" ng-click="userManagement.showDialog($event)">
				<i class="material-icons toggleIcon">add</i> Add User 
			</button>
		</div>
		<div class="userTable">
			<table ng-if="userManagement.userList.length>0" class="table table-striped table-hover usersTable">
				<thead>
					<tr>
						<th style="text-align: center; font-size: 14px;">User Name</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in userManagement.userList | orderBy: 'Auth.Username' | filter: { Auth: {Username: userManagement.searchText }}" data-ui-sref="app.admin.userInformation({user: row.Auth.Username})" title="Click To Edit User">
						<td class="UserRowData" ng-class="(row.Auth.Username == userManagement.userName) ? 'selectedUser' : ''" >
							{{row.Auth.Username}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-if="userManagement.userList.length==0" class="noReports">
			No Users could be found
		</div>
	</div>
	<div ng-if="userManagement.userSelected" class="col-sm-8 userInfoDiv">
		<user-information></user-information>
	</div>
	<div ng-if="!userManagement.userSelected" style="text-align: center;" class="col-sm-8">
		<label class="noUserLabel">Please Select a User</label>
	</div>
</div>
	
