<div class="loginBody">
  <div class="OuterContainer">
    <div class="card shadow">
      <div class="card-header">
        <h1>Sign In</h1>
      </div>
      <div class="card-body">
        <div class="alert alert-danger padClass" role="alert" ng-if="$ctrl.errorMessage">
          Login Failed. Please Check Your Username or Password
        </div>
        <form ng-submit="$ctrl.login()">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="$ctrl.userName" name="username" id="username" required />
            <label class="form-control-placeholder" for="username">Username</label>
          </div>
          <div class="form-group noPad">
            <input type="password" class="form-control" name="password" ng-model="$ctrl.passWord" id="password" required />
            <label for="password" class="form-control-placeholder">Password</label>
          </div>
          <input type="submit" ng-click="$ctrl.login()" id="btnLogin" name="loginButton" class="btn btn-primary" value="Submit"></button>
        </form>
      </div>
    </div>
  </div>
</div>
