<div class="alert-success-confirmation">
  <span class="icon-investec-tick"></span>
  <p class="alert-success-group">
    <span class="alert-success-title">Thank you</span><br>
    <span class="alert-success-text">Your payment instruction has been successfully submitted</span><br>
    <span class="alert-success-text">Should further documentation or information be required to complete the execution of this transaction, Investec will make contact.</span>
  </p>
</div>
 
  <hr>

  <p><strong>Account Information</strong></p>
  <ul style="list-style-type: none;">
    <li>
      <div class="row">
        <div class="col-sm-4" ng-if="$ctrl.bopData.Flow == 'OUT'">
          From account
        </div>
        <div class="col-sm-4" ng-if="$ctrl.bopData.Flow == 'IN'">
          To Account
        </div>
        <div class="col-sm-4">
          <strong>{{$ctrl.bopData["Resident"]["Individual"]["AccountNumber"]}}</strong>
          <strong>{{$ctrl.bopData["Resident"]["Entity"]["AccountNumber"]}}</strong>
        </div>
      </div>
    </li>
  </ul>
  <hr>

  <p ng-if="$ctrl.bopData.Flow == 'IN'"><strong>Remitter Information</strong></p>
  <p ng-if="$ctrl.bopData.Flow == 'OUT'"><strong>Beneficiary Information</strong></p>
  <ul style="list-style-type: none;">
    <li>
      <div class="row">
        <div class="col-sm-4">
          Name
        </div>
        <div class="col-sm-4">
          <strong>{{$ctrl.bopData["NonResident"]["Individual"]["Name"]}} {{$ctrl.bopData["NonResident"]["Individual"]["Surname"]}}</strong>
          <strong>{{$ctrl.bopData["NonResident"]["Entity"]["EntityName"]}}</strong>
        </div>
      </div>
    </li>
  </ul>
  <hr>

  <p ng-if="$ctrl.bopData.Flow == 'OUT'"><strong>Payment Information</strong></p>
  <p ng-if="$ctrl.bopData.Flow == 'IN'"><strong>Receipt Information</strong></p>
  <ul style="list-style-type: none;">
    <li>
      <div class="row">
        <div class="col-sm-4">
          Account Number
        </div>
        <div class="col-sm-4">
          <strong>{{$ctrl.bopData["NonResident"]["Individual"]["AccountNumber"]}}</strong>
          <strong>{{$ctrl.bopData["NonResident"]["Entity"]["AccountNumber"]}}</strong>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-sm-4">
          Amount
        </div>
        <div class="col-sm-4">
          <strong>{{$ctrl.bopData["TotalForeignValue"]}}</strong>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-sm-4">
          Currency
        </div>
        <div class="col-sm-4">
          <strong>{{$ctrl.bopData["FlowCurrency"]}}</strong>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-sm-4">
          Reason/BoP code
        </div>
        <div class="col-sm-4">
          <strong>{{$ctrl.reasons}}</strong>
        </div>
      </div>
    </li>

  </ul>

  <hr ng-if="$ctrl.documentNames.length>0">


  <p ng-if="$ctrl.documentNames.length>0"><strong>Required documents</strong></p>
  <ul style="list-style-type: none;" ng-if="$ctrl.documentNames.length>0">
    <li ng-repeat="docName in $ctrl.documentNames">
      <div class="row">
        <div class="col-sm-4">
          {{docName.type}}
        </div>
        <div class="col-sm-4">
          <strong>{{docName.name}}</strong>
        </div>
      </div>
    </li>
  </ul>