<form layout="column" class="md-inline-form">
	<div class="headerContainer">
		<span class="MenuSpan">
			<header></header>
			<span style="font-size: 30px; vertical-align: middle;">Audit Trail</span>
		</span>
		<span>
			<md-icon>search</md-icon>
			<input id="txtAuditTrailSearch" ng-model="adminDashboard.searchText" type="text" placeholder="Search Transactions" ng-enter="adminDashboard.getReports('all')" class="inputSearch"/>
			<button ng-click="adminDashboard.getReports('all')" class="searchButton">Search</button>
		</span>
	</div>

	<span ng-if="adminDashboard.responseStatus == 'searching' " class="loading-inline">
		<div layout="row" layout-sm="column" layout-align="space-around">
			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
		</div>
	</span>

  <table ng-if="adminDashboard.reports.length>0" class="table table-dashboard table-hover dashTable">
		<thead>
			<tr>
				<th class="hidden-xs">
					Transaction reference
				</th>
				<th class="hidden-xs">
					Status
				</th>
				<th class="hidden-xs">
					Settlement Date
				</th>
				<th class="hidden-xs">
					Currency
				</th>
				<th class="hidden-xs text-right">
					Amount
				</th>
				<th class="hidden-xs text-right">
					ZAR
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-click="adminDashboard.toggle(report['Reference'], report['Status'])"
				ng-class="!adminDashboard.isToggled(report['Reference'])? 'displayedRow' : 'selected info displayedRows'"
				ng-repeat-start="report in adminDashboard.reports">
				<td class="hidden-xs rowPad" >
				{{report["Reference"]}}
				</td>
				<td class="hidden-xs rowPad" >
					<div ng-if="report['Status']=='Completed'" class="text-success" >{{report["Status"]}}</div>
					<div ng-if="!(report['Status']=='Completed') && !(report['Status']=='Cancelled')" class="text-warning">Incomplete</div>
					<div ng-if="report['Status']=='Cancelled'" class="text-danger">{{report["Status"]}}</div>
				</td>
				<td class="hidden-xs rowPad" >
				{{report["Value Date"]}}
				</td>
				<td class="hidden-xs rowPad" >
					<div class="inv-flags round-flag-{{adminDashboard.getFlagClass(report['Currency'])}}"></div>          
					{{report["Currency"]}}
				</td>
				<td class="hidden-xs text-right rowPad" >
					{{report["Amount"]  | number:2}}
				</td>
				<td class="hidden-xs text-right rowPad" >
					{{report["ZAR"] | number:2}}
				</td>
			</tr>

			<tr ng-repeat-end 
				class="toggleTable"
				ng-class="{active: adminDashboard.isToggled(report['Reference'])}">
				<td colspan="8" class="info" style="padding: 0px">
					<div>
						<span data-ui-sref="app.admin.auditTrail({trnReference: report['Reference']})">
							<md-button md-no-ink class="md-primary toggleButton" ><i class="material-icons toggleIcon">assignment</i> Audit Trail</md-button> |
						</span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<div ng-if="adminDashboard.reports.length == 0" class="noReports">
		No reports can be found at the moment
	</div>
</form>