<form layout="column" class="md-inline-form">
	<div class="headerContainer">
		<span class="MenuSpan">
			<header></header>
			<span style="font-size: 30px; vertical-align: middle;">Dashboard</span>
		</span>
		<span>
			<label class="topLabel">Showing:</label>
			
			<md-menu md-position-mode="target-right bottom">
				<button aria-label="Open menu"	ng-click="$mdMenu.open($event)" class="statusButton md-raised">
					<span class="dropOutContainer">
						<span class="dropdownContainer">{{ dashboard.currentReportList }}</span>
						<span class="DropArrow"><i class="material-icons toggleIcon">arrow_drop_down</i></span>
					</span>
				</button>
				<md-menu-content width="4">
					<md-menu-item ng-repeat="listName in dashboard.lists">
						<md-button ng-click="dashboard.searchText = ''; dashboard.getReports(listName)">
							<span md-menu-align-target></span> {{listName}}
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</span>
		<span>
			<label class="topLabel">Channel: </label>
			<md-menu md-position-mode="target-right bottom">
				<button aria-label="Open menu"	ng-click="$mdMenu.open($event)" class=" statusButton md-raised">
					<span class="dropOutContainer">
						<span class="dropdownContainer">{{ dashboard.reportSpace }} : {{dashboard.channel}}</span>
						<span class="DropArrow"><i class="material-icons toggleIcon">arrow_drop_down</i></span>
					</span>
				</button>
				<md-menu-content>
					<md-menu-item ng-repeat="channel in dashboard.reportSpaces">
						<md-button ng-click="dashboard.changeChannel(channel)"><i class="material-icons toggleIcon">dns</i> {{ channel }} </md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</span>
		<span>
			<md-icon>search</md-icon>
			<input id="txtReportSearch" ng-model="dashboard.searchText" type="text" placeholder="Search Transactions" ng-enter="dashboard.getReports('Searching')" class="inputSearch"/>
			<button id="btnSearchReport" ng-click="dashboard.getReports('Searching')" class="searchButton">Search</button>
		</span>
	</div>
	
	<span ng-hide="dashboard.responseStatus.length>0" class="loading-inline">
    	<div layout="row" layout-sm="column" layout-align="space-around">
    	</div>
  	</span>
		<div ng-if="dashboard.reports.length>0">
			<table class="table table-dashboard table-hover dashTable">
				<thead>
					<tr>
						<th class="hidden-xs" ng-repeat="header in dashboard.headers" ng-if="dashboard.showHeader(header)">
							<span >
							{{header}}
							</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr
						ng-click="dashboard.toggle(report['Reference'], report['Status'])"
						ng-class="!dashboard.isToggled(report['Reference'])? 'displayedRow' : 'selected info displayedRow'"
						ng-repeat-start="report in dashboard.reports">
						<td class="hidden-xs rowPad" ng-repeat="header in dashboard.headers" ng-switch="header"	ng-if="dashboard.showHeader(header)">
							<span>
								<div
									ng-switch-when="Currency"
									class="inv-flags round-flag-{{dashboard.getFlagClass(report['Currency'])}}">
								</div>
								<span>{{report[header]}}</span>
							</span>
						</td>
					</tr> 

					<tr	ng-repeat-end class="toggleTable" ng-class="{active: dashboard.isToggled(report['Reference'])}">
						<td colspan="100%" class="info" style="padding: 0px">
							<div>
								<span
								ng-if="dashboard.getButton('CompleteForm', report)"
								data-ui-sref="app.report.bopForm({ reportSpace: dashboard.reportSpace, trnReference: report.Reference, channel:dashboard.channel})">
									<md-button md-no-ink class="md-primary toggleButton">
										<i class="material-icons toggleIcon">assignment</i>Complete BOP	Form
									</md-button
									>
									|
								</span>
								<span
									ng-if="dashboard.getButton('UploadDocs', report)"
									data-ui-sref="app.report.upload({ reportSpace: dashboard.reportSpace,  trnReference: report.Reference.trnReference, channel:dashboard.channel})">
									<md-button md-no-ink class="md-primary toggleButton">
										<i class="material-icons toggleIcon">done</i>Upload	Documents
									</md-button>
									|
								</span>
								<span
									ng-if="dashboard.getButton('Verify', report)"
									data-ui-sref="app.report.verify({ reportSpace: dashboard.reportSpace, trnReference: report.Reference.trnReference, channel:dashboard.channel})">
									<md-button md-no-ink class="md-primary toggleButton">
										<i class="material-icons toggleIcon">file_upload</i>Verification
									</md-button>
									|
								</span>
								<span
									ng-if="dashboard.getButton('Audit', report)"
									data-ui-sref="app.admin.auditTrail({trnReference: report['Reference']})"
									>
									<md-button md-no-ink class="md-primary toggleButton"
										><i class="material-icons toggleIcon">assignment</i> Audit
										Trail</md-button
									>
									|
								</span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	<div style="padding-bottom:20px;" ng-if="dashboard.reports.length == 0" class="noReports">
		No reports can be found at the moment
	</div>

	<div class="PagesContainer">
		<button ng-disabled="dashboard.currentPage == 1" class="MainButtonStyle" ng-click="dashboard.previousPage()"> 
			<span><strong>&lt; Previous Page</strong></span>
		</button>
		<label style="font-size: 14px; padding-left: 15px; padding-right: 15px;"><strong>{{dashboard.pageNumbers}}</strong></label>
		<button ng-click="dashboard.nextPage()" ng-disabled="dashboard.recordCount &lt; dashboard.maxRecordPageAmount" class="MainButtonStyle">
				<span><strong>Next Page ></strong></span>
		</button>
	</div>
</form>
