
<footer class="footer">
    <md-toolbar >
      <div class="md-toolbar-tools" layout="row">
        <div flex="20">
        </div>
        <div layout="row" layout-align="center center" flex="85">
        </div>
        <div flex="15">
          Synthesis © {{footer.currentYear}}
        </div>
      </div>
    </md-toolbar>
</footer>