<span ng-controller="AppCtrl" ng-cloak>
		<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4" >
		<md-toolbar class="navMenu" layout="row" layout-align="center end">
			<h1 class="md-toolbar-tools MenuHeader">Menu</h1>
			<button class="CloseMenu" ng-click="toggleLeft()"><i class="material-icons toggleIcon">close</i></button>
		</md-toolbar>
			<md-content>
				<md-menu-content width="3">
					<md-menu-item>
						<label>Admin</label> 
					</md-menu-item>
					<md-menu-item>
						<md-button ui-sref="app.admin.accessSetManagement" ng-disabled="false"><i class="material-icons toggleIcon">web_asset</i> Access Set Management</md-button>              
					</md-menu-item>
					<md-menu-item>
						<md-button ui-sref="app.dashboardManagement" ng-click="toggleLeft()"><i class="material-icons toggleIcon">view_column</i> Dashboard Management</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ui-sref="app.admin.userManagement" ng-click="toggleLeft()"><i class="material-icons toggleIcon">supervisor_account</i> User Management</md-button>              
					</md-menu-item>
					<md-divider>
					<md-menu-item>
						<label>Navigation</label>
					</md-menu-item>
					<!-- <md-menu-item>
						<md-button ui-sref="app.admin.dashboard" ng-click="toggleLeft()"><i class="material-icons toggleIcon">assignment</i> Audit Trail</md-button>              
					</md-menu-item> -->
					<md-menu-item>
						<md-button ui-sref="app.dashboard" ng-click="toggleLeft()"><i class="material-icons toggleIcon">dashboard</i> Dashboard</md-button>              
					</md-menu-item>
					<md-divider>          
					<md-menu-item>
						<md-button ng-click="header.logout()"><i class="material-icons toggleIcon">exit_to_app</i> Logout</md-button>              
					</md-menu-item>
				</md-menu-content>
			</md-content>
		</md-sidenav>
		<button ng-click="toggleLeft()" class="buttonStyle">
			<i class="material-icons md-36">list</i> 
		</button>
	</span>

