<div class="headerContainer">
  <span class="MenuSpan">
    <header></header>
    <span style="font-size: 30px; vertical-align: middle;">Dashboard Management</span>
  </span>
</div>

<div class="configCardContainer">
  <div ng-repeat="regulator in dashboardManagement.regulatorObject | orderBy:'regulator'">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" style='text-align:center;'>{{regulator.regulator}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div class="rowCountContainer">
          <label for="txtRowCount" style='font-size: 15px;'>Row Count</label>
          <input name="txtRowCount" class="dashboardRowCount" type="text" ng-model="regulator.rowCount" ng-change="dashboardManagement.setConfigFile()">
        </div>
        <div ng-repeat="list in regulator.lists | orderBy:'listName'">
          <uib-accordion close-others="true">
            <div uib-accordion-group class="panel-default" is-open="status.open">
              <uib-accordion-heading>
                {{list.listName}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              </uib-accordion-heading>
              <div ng-repeat="field in list.fields | orderBy:'fieldName'">
                <ng-container ng-if='column != "RecordShowLimit"' class='checkboxGrid'>
                  <label>{{field.fieldName}}</label>
                  <md-switch ng-model="field.shouldDisplay" aria-label="testing" aria-checked="true" ng-change="dashboardManagement.setConfigFile()"></md-switch>
                </ng-container>
              </div>
            </div>
          </uib-accordion>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
