@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/angular-material/angular-material.css";

html, body {
  height: 100%;
  margin: 0;
  font-size: 11px;
}

.wrapper {
  min-height: 100%;
  /* padding-left: 2%;
  padding-right: 2%; */
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: 0px;
  background: white;
}
.footer,
.push {
  height: 50px;
}

.homeicon {
  text-decoration: none;
  vertical-align: middle;
}

a.homeicon:hover {
  text-decoration: none;
}

a.homeicon:focus {
  text-decoration: none;
  outline: none;
}

.material-icons.md-36 { font-size: 36px; }

.table-dashboard tr:nth-child(4n+3) {
  background-color: #f9f9f9
}

.table-dashboard>tbody>tr:focus{
  outline: none !important;
}

.toggleTable {
  max-height: 0px;
  padding: 0px;
}

.toggleIcon {
  vertical-align: middle;
}

.toggleButton {
  margin: 0px;
  font-size: 11px;
}

.text-warning {
  color: #f9af3a
}

.text-danger {
  color: #ff0500
}

.text-success {
  color: #50a952
}

tr.toggleTable td div {
  max-height: 0;
  box-sizing: border-box;
  overflow: hidden;
  transition: max-height 0.6s, padding 0.6s;
}
tr.toggleTable.active td div {
  max-height: 37px;
  transition: max-height 0.6s, padding 0.6s;
}

.inv-flags {
  width: 21px;
  height: 21px;
  margin-top: -3px;
  display: inline-block;
  background-image: url("images/round-currency-flags.png");
  vertical-align: middle;
}
.inv-flags.round-flag-sa,
.inv-flags.round-flag-zar,
.inv-flags.round-flag-zaf,
.inv-flags.round-flag-za {
  background-position: 0 0;
}
.inv-flags.round-flag-uk,
.inv-flags.round-flag-gbp,
.inv-flags.round-flag-gb {
  background-position: -21px 0;
}
.inv-flags.round-flag-usa,
.inv-flags.round-flag-usd,
.inv-flags.round-flag-us {
  background-position: 0 -21px;
}
.inv-flags.round-flag-eu,
.inv-flags.round-flag-eur,
.inv-flags.round-flag-es {
  background-position: -21px -21px;
}
.inv-flags.round-flag-aus,
.inv-flags.round-flag-aud,
.inv-flags.round-flag-au {
  background-position: 0 -42px;
}
.inv-flags.round-flag-sw,
.inv-flags.round-flag-chf,
.inv-flags.round-flag-ch {
  background-position: -21px -42px;
}
.inv-flags.round-flag-can,
.inv-flags.round-flag-cad,
.inv-flags.round-flag-ca {
  background-position: 0 -63px;
}
.inv-flags.round-flag-dnk,
.inv-flags.round-flag-dkk,
.inv-flags.round-flag-dk {
  background-position: -21px -63px;
}
.inv-flags.round-flag-hk,
.inv-flags.round-flag-hkd,
.inv-flags.round-flag-hkg {
  background-position: 0 -84px;
}
.inv-flags.round-flag-jp,
.inv-flags.round-flag-jpy,
.inv-flags.round-flag-jpn {
  background-position: -21px -84px;
}
.inv-flags.round-flag-mu,
.inv-flags.round-flag-mur,
.inv-flags.round-flag-mus {
  background-position: 0 -105px;
}
.inv-flags.round-flag-nz,
.inv-flags.round-flag-nzd,
.inv-flags.round-flag-nzl {
  background-position: -21px -105px;
}
.inv-flags.round-flag-no,
.inv-flags.round-flag-nok,
.inv-flags.round-flag-nor {
  background-position: 0 -126px;
}
.inv-flags.round-flag-il,
.inv-flags.round-flag-ils,
.inv-flags.round-flag-isr {
  background-position: -21px -126px;
}
.inv-flags.round-flag-sg,
.inv-flags.round-flag-sgd,
.inv-flags.round-flag-sgp {
  background-position: 0 -147px;
}
.inv-flags.round-flag-se,
.inv-flags.round-flag-sek,
.inv-flags.round-flag-swe {
  background-position: -21px -147px;
}
.inv-flags.round-flag-cn,
.inv-flags.round-flag-cny,
.inv-flags.round-flag-chn {
  background-position: 0 -168px;
}
.inv-flags.round-flag-bw,
.inv-flags.round-flag-bwp,
.inv-flags.round-flag-bwa {
  background-position: -21px -168px;
}
.inv-flags.round-flag-sk,
.inv-flags.round-flag-svk {
  background-position: 0 -189px;
}
.inv-flags.round-flag-hu,
.inv-flags.round-flag-huf,
.inv-flags.round-flag-hun {
  background-position: -21px -189px;
}
.inv-flags.round-flag-ke,
.inv-flags.round-flag-kes,
.inv-flags.round-flag-ken {
  background-position: 0 -210px;
}
.inv-flags.round-flag-mw,
.inv-flags.round-flag-mwk,
.inv-flags.round-flag-mwi {
  background-position: -21px -210px;
}
.inv-flags.round-flag-mx,
.inv-flags.round-flag-mxn,
.inv-flags.round-flag-mex {
  background-position: 0 -231px;
}
.inv-flags.round-flag-my,
.inv-flags.round-flag-myr,
.inv-flags.round-flag-mys {
  background-position: -21px -231px;
}
.inv-flags.round-flag-ae,
.inv-flags.round-flag-aed,
.inv-flags.round-flag-are {
  background-position: 0 -252px;
}
.inv-flags.round-flag-zm,
.inv-flags.round-flag-zmw,
.inv-flags.round-flag-zmb {
  background-position: -21px -252px;
}
.inv-flags.round-flag-th,
.inv-flags.round-flag-thb,
.inv-flags.round-flag-tha {
  background-position: 0 -273px;
}
.inv-flags.round-flag-pl,
.inv-flags.round-flag-pln,
.inv-flags.round-flag-pol {
  background-position: -21px -273px;
}
.inv-flags.round-flag-tr,
.inv-flags.round-flag-try,
.inv-flags.round-flag-tur {
  background-position: 0 -294px;
}
.inv-flags.round-flag-ugx,
.inv-flags.round-flag-ug {
  background-position: -21px -294px;
}
.inv-flags.round-flag-tzs,
.inv-flags.round-flag-tz {
  background-position: 0 -315px;
}
.inv-flags.round-flag-ghs,
.inv-flags.round-flag-gh {
  background-position: -21px -315px;
}
.inv-flags.round-flag-ngn,
.inv-flags.round-flag-ng {
  background-position: 0 -336px;
}
.inv-flags.round-flag-cu,
.inv-flags.round-flag-czk {
  background-position: 0 -189px;
}

.inv-flags.round-flag-blank{
  background-position: -21px -336px;
}







/* Bradcrumb CSS */

/*body {
  background: #fce4ec;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}*/
/* ------------------------- Separate line ------------------------- */
:root {
  --breadcrumb-theme-1: #E3F2FD;
  --breadcrumb-theme-2: #E3F2FD;
  --breadcrumb-theme-3: #1565C0;
  --breadcrumb-theme-4: #1E88E5;
  --breadcrumb-theme-5: #00C853;
}
.breadcrumb {
  padding: 0px;
  border-radius: 0px;
  text-align: center;
  display: inline-block;
  /*box-shadow: 0 2px 5px rgba(0,0,0,0.25);*/
  overflow: hidden;
  width: 100%;
  counter-reset: flag;
}
.breadcrumb__step {
  background-color: var(--breadcrumb-theme-2);
  border-radius: 0px;
  width: 33.3333333%;
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 35px;
  /*padding: 0 10px 0 60px;*/
  position: relative;
  /*background: var(--breadcrumb-theme-2);*/
  color: var(--breadcrumb-theme-4);
  transition: background 0.5s;
}
.breadcrumb__step:first-child {
  padding-left: 46px;
  border-radius: 0px;
}
.breadcrumb__step:first-child::before {
  left: 14px;
}
.breadcrumb__step:last-child {
  border-radius: 0px;
  padding-right: 20px;
}
.breadcrumb__step:last-child::after {
  content: none;
}
.breadcrumb__step::before {
  content: counter(flag);
  counter-increment: flag;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 30px;
  font-weight: bold;
  background: var(--breadcrumb-theme-2);
  box-shadow: 0 0 0 1px var(--breadcrumb-theme-1);
}
.breadcrumb__step::after {
  content: '';
  position: absolute;
  top: 0;
  right: -15px;
  width: 36px;
  height: 36px;
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  border-radius: 0 0px 0 50px;
  /*background: var(--breadcrumb-theme-2);*/
  background: var(--breadcrumb-theme-2);
  transition: background 0.5s;
  box-shadow: 5px -5px 0 5px var(--breadcrumb-theme-4);
}
.breadcrumb__step--active {
  color: var(--breadcrumb-theme-1);
  background: var(--breadcrumb-theme-4);
}
.breadcrumb__step--active::before {
  color: var(--breadcrumb-theme-4);
}
.breadcrumb__step--active::after {
  background: var(--breadcrumb-theme-4);
}

.breadcrumb__step--complete {
  color: var(--breadcrumb-theme-5);
  background: var(--breadcrumb-theme-1);
}
.breadcrumb__step--complete::before {
  color: var(--breadcrumb-theme-1);
  background: var(--breadcrumb-theme-5);
}
.breadcrumb__step--complete::after {
  box-shadow: 5px -5px 0 5px var(--breadcrumb-theme-5);
  background: var(--breadcrumb-theme-1);
}

.breadcrumb__step:hover {
  color: var(--breadcrumb-theme-2);
  background: var(--breadcrumb-theme-3);
}
.breadcrumb__step:hover::before {
  color: var(--breadcrumb-theme-1);
}
.breadcrumb__step:hover::after {
  color: var(--breadcrumb-theme-1);
  background: var(--breadcrumb-theme-3);
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.add { border: 1px  solid #5cb85c; border-radius: 2px; background-color: #dfd}
.delete {border: 1px  solid #ff3900; border-radius: 2px; background-color: #fee8e9}

.headerContainer {
	display: flex;
    justify-content: space-between;
	flex-direction: row;
	padding-top: 5px;
	align-items: center;
	background-color: rgb(94, 179, 228);
	padding-bottom: 10px;
	padding-left: 2%;
	padding-right: 2%;
}

.statusButton {
	padding-left: 0px;
	margin-left: 0px;
	background-color: white;
	box-shadow: 0 1px rgba(0, 0, 0, 0.12);
	font-size: 14px !important;
	border: 1px rgb(156, 156, 156);
	border-style: double;
	border-radius: 4px;
	min-width: 150px !important;
}

.inputSearch {
	/* height: 35px; */
    /* vertical-align: middle; */
	width: 250px;
	font-size: 15px;
	border-radius: 4px;
}

.dropdownContainer {
	padding: 10px;
}

.DropArrow {
	float: right;
}

.rowPad {
	padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.dashTable th{
	background-color: #c5c5c5;
	color: black;
	/* text-shadow: 1px 1px #000000; */
	font-size: 12px;  
}

.dashTable {
    border:none;
	border-collapse: collapse;
	margin-top: 10px;
}

.dashTable td {
    border-left: 1px solid rgba(114, 114, 114, 0.185);
    border-right: 1px solid rgba(114, 114, 114, 0.185);
}

.dashTable th {
    border-left: 1px solid rgba(255, 255, 255, 0.425);
    border-right: 1px solid rgba(255, 255, 255, 0.425);
}

.searchButton {
	height: 28px;
    width: 100px;
    color: white;
    background-color: #337ab7;
    border-color: white;
}

.styleButton {
	float: right;
	background-color: rgb(51, 122, 183) !important;
	color: white !important;
}

.styleButton:hover {
	background-color: rgb(18, 78, 131) !important;
}

.MenuSpan {
	display: flex;
}

.buttonStyle {
	background-color: transparent;
	border: 0px;
}

.CloseMenu {
	font-size: 20px;
    letter-spacing: 0.005em;
    box-sizing: border-box;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* width: 100%; */
    height: 64px;
    max-height: 64px;
    padding: 0 16px;
	margin: 0;
	background-color: transparent;
	border: 0px;
	color: white;
}

hr {
	border: 0;
	clear:both;
	display:block;
	width: 100%;               
	background-color:rgba(59, 59, 59, 0.2);
	height: 1px;
}

.navMenu {
	background-color: rgb(94, 179, 228)  !important;
}

.topLabel {
	font-size: 14px; 
	padding-right: 6px;
}

.md-button {
	font-size: 14px !important;
}

.MenuHeader {
	color: black !important;
}

.md-primary {
	/* color:rgb(63, 128, 165)  !important; */
}

.noReports {
	text-align: center;
    padding-top: 50px;
    font-size: 20px;
}

.showSaveModal {
	display: block;
	background-color: red;
}

.noShowSaveModal {
	display: none;
}

.addAccessDiv {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 10px;
}

.accessTable {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 300px;
	margin: auto;
	text-align: center !important;
	flex-grow: 2;
	padding-top: 10px;
}

.accessTable tr {
	width: 100%;
	display: block;
}

.accessTable td {
    border-left: 1px solid rgba(114, 114, 114, 0.185);
	border-right: 1px solid rgba(114, 114, 114, 0.185);
	width: 100%;
	display:block;
}

.accessTable tr:last-child {
	border-bottom: 1px solid rgba(114, 114, 114, 0.185);
}

.accessTable th {
  border-left: 1px solid rgba(255, 255, 255, 0.425);
	border-right: 1px solid rgba(255, 255, 255, 0.425);
	background-color: #c5c5c5;
	color: black;
	width: 100%;
	display:block;
}

.accessTable thead {
	display: block;
}

.accessTable td{
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

.accessTable tbody tr:hover {
	cursor: pointer;
	background-color: rgb(94, 179, 228) !important;
	color: white;
	text-decoration: underline;
}

.accessTable tbody {
	display: block;
	overflow: auto;
	height: 500px;
	width: 100%;
}

.accessRowData {
	vertical-align: middle !important;
	font-size: 14px;
    font-weight: 500;
}

.noAccessLabel {
	padding-top: 20px;
	font-size: 18px;
}

.AccessSetOuterMostContainer {
	display: grid;
	grid-template-columns: 40% 60%;
	height: 100%;
	padding: 20px;
}

