.loginBody{
	height: 100%;
	width: 100%;
	background-color: #f3f3f3;
}

.form-group {
	position: relative;
	margin-bottom: 1.5rem;
	padding-bottom: 10px;
  }
  
  .form-control-placeholder {
	position: absolute;
	top: 0;
	padding: 7px 0 0 13px;
	transition: all 200ms;
	opacity: 0.7;
  }
  
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
	font-size: 90%;
	transform: translate3d(0, -100%, 0);
	opacity: 1;
  }
  
  .btn-primary {
	background-color: #0d47a1;
	margin-top: 2px;
  }
  
  .noPad {
	margin-bottom: 0px;
  }

  .card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	max-width: 30%;
	word-wrap: break-word;
	margin: auto;
	background-clip: border-box;
	box-shadow: 2px 1px 5px 0px rgba(136,136,136,1); /*Use https://www.cssmatic.com/box-shadow */
  }

  .card-header {
	  text-align: center;
	  margin-bottom: 0px;
	  background-color: #0d47a1;
	  color: white;
  }

  .card-body {
	padding: 20px;
	background-color: white;
  }

  .OuterContainer {
	padding-top: 50px;
  }

  .padClass {
	  padding-bottom: 20px;
  }