#container{
	width:300px;
	height:267px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.hexagon {
	width: 100px;
	height: 55px;
	position: relative;
	display: inline-block;
	animation: fade 3s linear infinite;
	-webkit-animation: fade 3s linear infinite;
	}

.hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}
.purple{
	background: purple;
	top:25px;
	left: 50px;
	animation-delay:-3;
}
.purple:before{
	border-bottom: 25px solid purple;  
}
.purple:after{
	border-top: 25px solid purple;
}
.blue {
	background-color: blue;
	top:25px;
	left:46px;
	animation-delay: -2.5s;
	-webkit-animation-delay:-2.5s;
}
.blue:before{
border-bottom: 25px solid blue; 
}
.blue:after{
	border-top: 25px solid blue;  
}

.yellow{
	background: gold;
	top:45px;
	left:96px;
	animation-delay:-2s;
	-webkit-animation-delay:-2s;
}
.yellow:before{
	border-bottom: 25px solid gold;
}
.yellow:after{
	border-top: 25px solid gold;
}
.red{
	background: red;
	top:65px;
	left:46px;
	animation-delay:-1.5s;
	-webkit-animation-delay:-1.5s;
}
.red:before{
	border-bottom:25px solid red;
}
.red:after{
	border-top: 25px solid red;
}
.orange{
	background: darkorange;
	top:65px;
	left:50px;
	animation-delay: -1s;
	-webkit-animation-delay:-1s;
}
.orange:before{
border-bottom: 25px solid darkorange;
}
.orange:after{
	border-top:25px solid darkorange;
}
.sky{
	background: deepskyblue;
	top:45px;
	left:0px;
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s;
}
.sky:before{
	border-bottom: 25px solid deepskyblue; 
}
.sky:after{
	border-top: 25px solid deepskyblue;
}
@keyframes fade{
	0%{opacity:.2;}
	30%{opacity:.2;}
	50%{opacity:1;}
	70%{opacity:.2;}
	100%{opacity:.2;}
}
@-webkit-keyframes fade{
	0%{opacity:.2;}
	30%{opacity:.2;}
	50%{opacity:1;}
	70%{opacity:.2;}
	100%{opacity:.2;}
}

.error-container {
	display: flex;
	justify-content: center;
	margin: auto;
}

.errorBtnContainer {
	display: flex;
	justify-content: center;
}

.PagesContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

button:disabled {
	color: grey;
}

md-menu-content {
	max-height: 500px !important;
}

.configCardContainer {
	display: grid;
  grid-auto-columns: 20%;
    grid-auto-flow: column;
	justify-content: center;
	grid-column-gap: 20px;
}

.checkboxGrid {
	display: grid;
	grid-template-columns: 80% 20%;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	justify-content: center;
}

md-switch {
	margin: 0px;
}

md-switch .md-container {
	cursor: pointer;
}

.dashboardRowCount {
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 40%;
	text-align: center
}

.rowCountContainer {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	align-items: center;
}

.adminPageContainer {
	padding-top: 20px;
}

.selectedItem {
	background-color: rgb(34, 133, 190) !important;
	color: white;
	text-decoration: underline;
}