.usersTable td{
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

.userHeaderContainer {
	display: flex;
    justify-content: space-between;
	flex-direction: row;
	padding-top: 5px;
	align-items: center;
	background-color: rgb(94, 179, 228);
	padding-bottom: 10px;
	padding-left: 2%;
	padding-right: 2%;
}

.userMenuSpan {
	display: flex;
}

.MainButtonStyle {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	color: rgb(33,33,33);
	background-color: rgb(250,250,250) !important;
	display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 30px;
    min-width: 60px;
    line-height: 36px;
    vertical-align: middle;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    border: 0;
    padding: 0 10px;
    margin: 3px 4px;
    background: transparent;
    white-space: nowrap;
    /* text-transform: uppercase; */
    font-weight: 500;
    font-size: 12px;
    overflow: hidden;
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.UserinputSearch {
	/* height: 35px; */
    /* vertical-align: middle; */
	width: 250px;
	font-size: 15px;
	border-radius: 4px;
}

.usersTable tbody tr:hover {
	cursor: pointer;
	background-color: rgb(94, 179, 228) !important;
	color: white;
	text-decoration: underline;
}

.UserRowData {
	vertical-align: middle !important;
	font-size: 14px;
    font-weight: 500;
}

.userTable {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 300px;
	margin: auto;
	text-align: center !important;
	flex-grow: 2;
	padding-top: 10px;
}

.userTable tr {
	width: 100%;
	display: block;
}

.userTable td {
    border-left: 1px solid rgba(114, 114, 114, 0.185);
	border-right: 1px solid rgba(114, 114, 114, 0.185);
	width: 100%;
	display:block;
}

.userTable tr:last-child {
	border-bottom: 1px solid rgba(114, 114, 114, 0.185);
}

.userTable th {
    border-left: 1px solid rgba(255, 255, 255, 0.425);
	border-right: 1px solid rgba(255, 255, 255, 0.425);
	background-color: #c5c5c5;
	color: black;
	width: 100%;
	display:block;
}

.userTable thead {
	display: block;
}

.usersTable tbody {
	display: block;
	overflow: auto;
	height: 500px;
	width: 100%;
}

.userHeadings {
	padding-left: 15px;
}

.userInfoContainer {
	display: flex;
	flex-direction: column;
	justify-content: left;
	width: 700px;
	border: 1px black;
	padding: 10px;
	background-clip: border-box;
	box-shadow: 2px 1px 5px 0px rgba(136,136,136,1);
}

.userInfoContainer md-input-container {
	margin: 7px !important;
}

.userInfoContainer md-select {
	max-width: 650px;
}

.OuterMostContainer {
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: center;
	height: 100%;
	padding: 20px;

}

.selectedUser {
	background-color: rgb(34, 133, 190) !important;
	color: white;
	text-decoration: underline;
}

.userNameDiv {
	margin-bottom: 0;
}

.noUserLabel {
	padding-top: 20px;
	font-size: 18px;
}

.addUserDiv {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 10px;
}

.userInfoDiv {
	padding-left: 40px;
}

.OuterUserContainer {
	display: flex;
  justify-content: center;
}

