<form layout="column" class="md-inline-form">
  <div class="userHeaderContainer">
    <span class="userMenuSpan">
      <header></header>
      <span style="font-size: 30px; vertical-align: middle;">Access Set Management</span>
    </span>
    <span>
      <md-icon>search</md-icon>
      <input id="txtUserSearch" name="accessSetSearch" ng-model="accessSetManagement.searchText" type="text" placeholder="Search Access Set" class="UserinputSearch"/>
      <button class="searchButton" ng-click="accessSetManagement.searchAccessSet()">Search</button>
    </span>
  </div>

	<div class="AccessSetOuterMostContainer">
		<div class="">
			<div class="addAccessDiv">
				<button class="MainButtonStyle" ng-click="accessSetManagement.showDialog($event)">
					<i class="material-icons toggleIcon">add</i> Add Access Set 
				</button>
			</div>
			<div class="accessTable">
				<table ng-if="accessSetManagement.accessSets.length>0" class="table table-striped table-hover accessesTable">
					<thead>
						<tr>
							<th style="text-align: center; font-size: 14px;">Access Sets</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in accessSetManagement.accessSets | filter:accessSetManagement.searchText" data-ui-sref="app.admin.accessSetInformation({name: row})" title="Click To Edit Access Set">
							<td class="accessRowData" ng-class="(row == accessSetManagement.selectedSet) ? 'selectedItem' : ''" >
								{{row}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div ng-if="accessSetManagement.accessSets.length==0" class="noReports">
				No Access Sets Could Be Found
			</div>
		</div>
		<div ng-show="accessSetManagement.accessSetSelected" class="accessInfoDiv">
			<access-set-information></access-set-information>
		</div>
		<div ng-if="!accessSetManagement.accessSetSelected" style="text-align: center;" class="">
			<label class="noAccessLabel">Please Select an Access Set</label>
		</div>
	</div>
</form>