<md-dialog ng-cloak style="width:100%;">
  <form name="addAccessSet">
    <md-dialog-content>

      <div class="md-dialog-content">
        <div class="md-headline">Add Access Set</div>
        <br>
        <br>

        <div class="row">
          <div class="col-sm-4">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Name</label>
              <input ng-model="dialog.name" required name="username">
              <div ng-messages="addUser.username.$error">
                <div ng-message="required">Name is required</div>
              </div>
            </md-input-container>
          </div>

          <div class="col-sm-4">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Report Space</label>
                <md-select ng-model="dialog.reportSpace" required name="reportSpace">
                  <md-option ng-value="reportSpace" ng-repeat="reportSpace in dialog.reportSpacesLookup">{{reportSpace}}</md-option>
                </md-select>
                <div ng-messages="addAccessSet.reportSpace.$error">
                  <div ng-message="required">Report Space is required</div>
                </div>
            </md-input-container>
          </div>

          <div class="col-sm-4">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Access Type</label>
                <md-select ng-model="dialog.accessType" required name="type">
                  <md-option ng-value="accessType" ng-repeat="accessType in dialog.accessTypeLookup">{{accessType}}</md-option>
                </md-select>
                <div ng-messages="addAccessSet.type.$error">
                  <div ng-message="required">Type is required</div>
                </div>
            </md-input-container>
          </div>
        </div>

        <div class="md-subhead">Access Criteria</div>
        <div class="row">
          <div class="col-sm-3">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Type</label>
              <!-- <input ng-model="dialog.tempType"  name="type"> -->
              <md-select ng-model="dialog.tempType" name="tempType">
                <md-option ng-value="criteriaType" ng-repeat="criteriaType in dialog.criteriaTypeLookup">{{criteriaType}}</md-option>
              </md-select>
            </md-input-container>
          </div>

          <div class="col-sm-3">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Name</label>
              <input ng-model="dialog.tempName"  name="name">
              <div ng-messages="addAccessSet.name.$error">
                <div ng-message="required">Name is required</div>
              </div>
            </md-input-container>
          </div>

          <div class="col-sm-3">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Value</label>
              <input ng-model="dialog.tempValue"  name="value">
              <div ng-messages="addAccessSet.value.$error">
                <div ng-message="required">Value is required</div>
              </div>
            </md-input-container>
          </div>

          <div class="col-sm-3">
            <md-button class=" md-primary" style="z-index:0" position="fixed" aria-label="Profile" ng-click="dialog.addAccessSet()">
              <i class="material-icons toggleIcon">add</i> 
            </md-button>
          </div>
        </div>

        <div class="row" ng-repeat="accessCriteria in dialog.selectedAccessCriteria">

          <div class="col-sm-3">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Type</label>
              <input ng-model="accessCriteria.Type" ng-disabled="true">
            </md-input-container>
          </div>

          <div class="col-sm-3">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Name</label>
              <input ng-model="accessCriteria.Name" ng-disabled="true">
            </md-input-container>
          </div>

          <div class="col-sm-3">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Value</label>
              <input ng-model="accessCriteria.Values" ng-disabled="true">
            </md-input-container>
          </div>

          <div class="col-sm-3">
            <md-button class="md-warn" style="z-index:0" position="fixed" aria-label="Profile" ng-click="dialog.deleteAccessSet()">
              <i class="material-icons toggleIcon">remove</i> 
            </md-button>
          </div>

        </div>

      </div>

    <md-dialog-actions layout="row">

      <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
        <md-button class="md-raised" layout-align="start center" ng-click="dialog.cancel()">
          Cancel <i class="zmdi zmdi-close"></i>
        </md-button>
        <md-button ng-click="dialog.add($event)" class="md-raised md-primary" ng-disabled="addAccessSet.$invalid">
          Add <i class="zmdi zmdi-plus">
          </i>
        </md-button>
      </section>
    </md-dialog-actions>

    </md-dialog-content>
  </form>
</md-dialog>
