<form layout="column" class="md-inline-form">

  <div class="headerContainer">
		<span class="MenuSpan">
			<header></header>
			<span style="font-size: 30px; vertical-align: middle;">Audit Trail</span>
		</span>
	</div>

  <div flex style="padding-top:20px">
    <div>
      <strong>Versions: </strong>{{$ctrl.reportDiffsLength}}
      <br>
      <br>
    </div>

      <div ng-if="$ctrl.reportDiffsLength > 1" layout>
        <div flex="10" layout layout-align="start center">
          <span class="md-body-1"><strong>Earliest</strong></span>
        </div>
        <md-slider flex="80" class="md-primary" md-discrete ng-model="$ctrl.currentVersionNumber" ng-change="$ctrl.selectReportVersion()" step="1" min="1" max="{{$ctrl.reportDiffsLength}}" aria-label="rating">
        </md-slider>
        <div flex="10" layout layout-align="end center">
          <span class="md-body-1"><strong>Latest</strong></span>
        </div>
        <br>
        <br>
      </div>




      <br>
      <span ng-hide="$ctrl.selectedReportVersion" class="loading-inline">
      </span>


      <p><strong>Change Context</strong></p>
      <ul style="list-style-type: none;">
        <li>
          <div class="row">
            <div class="col-sm-2">
              Transaction Reference
            </div>
            <div class="col-sm-10">
              <strong>{{$ctrl.trnReference}}</strong>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-sm-2">
              Username
            </div>
            <div class="col-sm-10">
              <strong>{{$ctrl.selectedReportVersion.ChangeContext.Username}}</strong>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-sm-2">
              Date/Time
            </div>
            <div class="col-sm-10">
              <strong>{{$ctrl.selectedReportVersion.ChangeContext.DateTime}}</strong>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-sm-2">
              User-Agent
            </div>
            <div class="col-sm-10">
              <strong>{{$ctrl.selectedReportVersion.ChangeContext.Audit["User-Agent"]}}</strong>
            </div>
          </div>
        </li>
        <li ng-if="$ctrl.selectedReportVersion.StateChange">
          <div class="row">
            <div class="col-sm-2">
              Report State
            </div>
            <div class="col-sm-10">
              <strong ng-if="$ctrl.selectedReportVersion.StateChange.Type == 'Updated' " class="text-danger">{{$ctrl.selectedReportVersion.StateChange.From}} </strong> <strong ng-if="$ctrl.selectedReportVersion.StateChange.Type == 'Updated'">-></strong> <strong ng-if="$ctrl.selectedReportVersion.StateChange.Type == 'Updated' " class="text-success">{{$ctrl.selectedReportVersion.StateChange.To}}</strong>
              <strong ng-if="$ctrl.selectedReportVersion.StateChange.Type == 'Added' " class="text-success">{{$ctrl.selectedReportVersion.StateChange.To}}</strong>
            </div>
          </div>
        </li>
      </ul>

      <hr>
    <div ng-if="$ctrl.selectedReportVersion.ReportChanges.length !== 0">
      <p><strong>Report Changes</strong></p>
      <table  class="table table-striped">
      <thead>
        <tr>
          <th class="hidden-xs">
            Type
          </th>
          <th class="hidden-xs">
            Scope
          </th>
          <th class="hidden-xs">
            Field
          </th>
          <th class="hidden-xs">
            Value
          </th>
        </t>
      </thead>
      <tbody>
        <tr ng-repeat="version in $ctrl.selectedReportVersion.ReportChanges">
          <td>
            {{version['Type']}}
          </td>
          <td>
            {{version['Scope']}}
          </td>
          <td>
            {{version['Field']}} <p ng-if="MoneyIndex">, Monetary Index {{version['MoneyIndex']}}</p> <p ng-if="ImportExportIndex">, Import Export Index {{version['ImportExportIndex']}}</p>
          </td>
          <td ng-if="version['Type'] == 'Updated' ">
            <span class="text-danger">{{version['From']}}</span> <spanp>-></span> <span class="text-success">{{version['To']}}</span>
          </td>
          <td ng-if="version['Type'] == 'Removed' " class="text-danger">
            {{version['From']}}
          </td>
          <td ng-if="version['Type'] == 'Added' " class="text-success">
            {{version['To']}}
          </td>
        </tr>
      </tbody>
      </table>
      <hr>
    </div>

    <div ng-if="$ctrl.selectedReportVersion.MetaChanges.length !== 0">
      <p><strong>Meta Changes</strong></p>
      <table  class="table table-striped ">
      <thead>
        <tr>
          <th class="hidden-xs">
            Type
          </th>
          <th class="hidden-xs">
            Field
          </th>
          <th class="hidden-xs">
            Value
          </th>
        </t>
      </thead>
      <tbody>
        <tr ng-repeat="version in $ctrl.selectedReportVersion.MetaChanges">
          <td>
            {{version['Type']}}
          </td>
          <td>
            {{version['Field']}} <p ng-if="MoneyIndex">, Monetary Index {{version['MoneyIndex']}}</p> <p ng-if="ImportExportIndex">, Import Export Index {{version['ImportExportIndex']}}</p>
          </td>
          <td ng-if="version['Type'] == 'Updated' ">
            <span class="text-danger">{{version['From']}}</span> <spanp>-></span> <span class="text-success">{{version['To']}}</span>
          </td>
          <td ng-if="version['Type'] == 'Removed' " class="text-danger">
            {{version['From']}}
          </td>
          <td ng-if="version['Type'] == 'Added' " class="text-success">
            {{version['To']}}
          </td>
        </tr>
      </tbody>
      </table>
      <hr>
    </div>


    <div id="jsoncontainer">
    </div>

    <div>
      <hr>
    </div>

    <div flex layout="row" layout-sm="column" layout-align="end center" layout-wrap>
      <md-button class="md-raised pull-right" data-ui-sref="app.admin.dashboard">
        Back to search screen
      </md-button>
    </div>

  </div>

</form>