<div class="headerContainer">
  <span class="MenuSpan">
    <header></header>
    <span style="font-size: 30px; vertical-align: middle;">Dashboard Management</span>
  </span>
</div>

<div>
  <uib-tabset>
    <uib-tab index="0" heading="Access Set Management">
      <access-set-management></access-set-management>
    </uib-tab>
    <uib-tab index="1" heading="Configuration Management">Configuration Management</uib-tab>
    <uib-tab index="2" heading="Dashboard Management">
      <dashboard-management></dashboard-management>
    </uib-tab>
    <uib-tab index="3" heading="User Management">
      <user-management></user-management>
    </uib-tab>
  </uib-tabset>
</div>