<div style="height: 600px;overflow-y: none;">
  <div style="overflow:hidden;height:100%;width:100%">
    <div style=" height:100% ;width: 100%" ng-if="bopform.formUrl!=''">
      <iframe id="idIframe" ng-src="{{bopform.formUrl}}" iframe-onload="main.onIframeLoad(element)" frameborder="0" height="100%" width="100%"></iframe>
    </div>
  </div>
</div>
