<form name="addUser">
	<div class="OuterUserContainer">
		<div class="userInfoContainer">
			<div>
				<md-input-container class="userNameDiv">
					<md-select-header>
						<span>Username</span>
					</md-select-header>
					<input ng-model="userInformation.userName" type="text" required name="username" ng-disabled="true">
					<div ng-messages="addUser.username.$error">
						<div ng-message="required">Username is required</div>
					</div>
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm>
					<label>Password</label>
					<input ng-model="userInformation.password" name="password">
					<div ng-messages="addUser.password.$error">
						<div ng-message="required">password is required</div>
					</div>
					<div ng-if="!userInformation.passwordIsValid" style="color:red">
						{{userInformation.passwordErrorMessage}}
					</div>
				</md-input-container>
			</div>

			<div>
				<md-input-container>
					<md-select-header>
						<span>Rights</span>
					</md-select-header>
					<md-select ng-model="userInformation.selectedRights" multiple required ng-disabled="!userInformation.editable" name="rights">
						<md-option ng-value="right" ng-repeat="right in userInformation.RightsLookup">{{right}}</md-option>
					</md-select>
					<div ng-messages="addUser.rights.$error">
						<div ng-message="required">Auth Rights are required</div>
					</div>
				</md-input-container>
			</div>
		
			<div>
				<md-input-container>
					<md-select-header>
						<span>Report Space</span>
					</md-select-header>
					<md-select ng-model="userInformation.selectedReportSpaceList" multiple required ng-change="userInformation.updateList()" name="reportspace">
						<md-option ng-value="reportSpace" ng-repeat="reportSpace in userInformation.reportSpaceList">{{reportSpace}}</md-option>
					</md-select>
					<div ng-messages="addUser.reportspace.$error">
						<div ng-message="required">Report Space is required</div>
					</div>
				</md-input-container>
			</div>

			<div>
				<md-input-container>
					<md-select-header>
						<span>Channel Name</span>
					</md-select-header>
					<md-select ng-model="userInformation.selectedChannelNameList" required multiple ng-change="userInformation.updateList()" name="channel">
						<md-option ng-value="channel" ng-repeat="channel in userInformation.channelNameList">{{channel}}</md-option>
					</md-select>
					<div ng-messages="addUser.channel.$error">
						<div ng-message="required">Channel is required</div>
					</div>
					<div ng-if="!userInformation.channelIsValid" style="color:red">
						*Please Select At Least One Channel For Each Report Space
					</div>
				</md-input-container>
			</div>

			<div>
				<md-input-container>
					<md-select-header>
						<span>Access</span>
					</md-select-header>
					<md-select ng-model="userInformation.selectedAccess" multiple required ng-disabled="!userInformation.editable" ng-change="userInformation.updateList()" name="access">
						<md-option ng-value="access" ng-repeat="access in userInformation.AccessLookup">{{access}}</md-option>
					</md-select>
					<div ng-if="!userInformation.accessIsValid" style="color:red">
						*Please Select At Least One Access For Each Reporting Space
					</div>
					<div ng-messages="addUser.access.$error">
						<div ng-message="required">Access are required</div>
					</div>
				</md-input-container>
			</div>

			<div>
				<md-input-container>
					<md-select-header>
						<span>Report List</span>
					</md-select-header>
					<md-select ng-model="userInformation.selectedReportLists" multiple required ng-disabled="!userInformation.editable" name="reportlist">
						<md-option ng-value="reportList" ng-repeat="reportList in userInformation.ReportListLookup">{{reportList}}</md-option>
					</md-select>
					<div ng-messages="addUser.reportlist.$error">
						<div ng-message="required">Report List is required</div>
					</div>
				</md-input-container>
			</div>

			<div>
				<md-input-container>
					<md-select-header>
						<span>User Events</span>
					</md-select-header>
					<md-select ng-model="userInformation.selectedUserEvents" multiple required ng-disabled="!userInformation.editable" name="userevents">
						<md-option ng-value="userEvents" ng-repeat="userEvents in userInformation.UserEventsLookup">{{userEvents}}</md-option>
					</md-select>
					<div ng-messages="addUser.userevents.$error">
						<div ng-message="required">User Events is required</div>
					</div>
				</md-input-container>
			</div>

			<md-dialog-actions layout="">
				<span flex></span>
				<section layout="" layout-sm="column"  layout-wrap>
				<div ng-if="userInformation.active">
					<md-button ng-click="userInformation.disableUser($event)" class="md-raised md-warn" style="color: white !important">
						Disable User
					</md-button>
				</div>
				<div ng-if="!userInformation.active">
					<md-button ng-click="userInformation.activateUser($event)" class="md-raised md-warn" style="color: white !important">
						Activate User
					</md-button>
				</div>
				<md-button class="md-raised"  data-ui-sref="app.admin.userManagement">
					Cancel
				</md-button>
				<md-button ng-click="userInformation.submit($event)" class="md-raised md-primary" style="color: white !important" ng-disabled="!userInformation.ChannelsAreValid()">
					Submit 
				</md-button>
				</section>
			</md-dialog-actions>
		</div>
	</div>
</form>